.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.select {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}
.hair::before {
  content: "";
  position: absolute;
  background-color: var(--hair) !important;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 50% 0%;
  transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.hair::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 100%;
  height: 8px;
  top: auto;
  pointer-events: none;
  background: var(--f7-toolbar-bottom-shadow-image);
  transform: translate3d(0, 0, 0);
}
@media (prefers-color-scheme: light) {
  #mediaFlag500 {
    color: white;
  }
  body {
    --themeBool: white;
    --waterCardBSH: 0 0 23px -3px #9adae7;
    --mainBg: #F0F6F4;
    --mainBsh: #00ff801c;
    --nameInpBg: #F4F9F7;
    --nameInpBor: rgba(0, 0, 0, 0.06);
    --nameInpC: #32403c;
    --waterCardGrad: linear-gradient(233.81deg, #7DE7FE 4.14%, #dffff0 112.07%);
    --waterPageBg: #e9f3f9;
    --waterPageControlBSh: #0000002e;
    --cupBg: #ffffff54;
    --settingsBg: #fcf4ff;
  }
}
@media (prefers-color-scheme: dark) {
  #mediaFlag500 {
    color: black;
  }
  body {
    --f7-page-bg-color: var(--day-bg);
    --themeBool: black;
    --mainBg: #0e1211;
    --mainBsh: #00ff800a;
    --headerC: #d0cccc;
    --nameInpBg: #171d1b;
    --nameInpBor: #ffffff0d;
    --nameInpC: #b7cbc5;
    --waterCardBSH: 0 0 23px -3px #9adae75e;
    --waterCardGrad: linear-gradient(233.81deg, #7d8cfe 4.14%, #185046 112.07%);
    --waterPageBg: #101518;
    --waterPageControlBSh: #ffffff0d;
    --cupBg: #242e34;
    --settingsBg: #0e0811;
  }
}
:root {
  --f7-grid-gap: 2rem !important;
}
::selection {
  background: rgba(108, 65, 36, 0.7);
  color: white;
}
::-moz-selection {
  background: rgba(108, 65, 36, 0.7);
  color: white;
}
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #971d2d00;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #6c4124;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6c4124;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  background-color: var(--day-bg);
}
@media (display-mode: standalone) {
  html,
  body {
    overscroll-behavior: contain;
  }
}
strong {
  color: var(--strongColor);
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h2 {
  font-size: 26pt;
  color: var(--hColor);
  margin-top: 1.5em;
}
h4 {
  font-size: 1.5em;
  color: var(--hColor);
  margin-top: 2em;
}
p {
  color: var(--pColor);
  font-size: 19pt;
  line-height: 30px;
  font-weight: 500;
}
@media (min-width: 900px) {
  p {
    margin: 0px;
    font-size: 14pt;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
non {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--nonColor);
  display: inline-block;
}
.mediaFlag500 {
  display: none;
}
@media (min-width: 900px) {
  .mediaFlag500 {
    display: block;
  }
}
.ripple-wave {
  background-color: #00000038;
  z-index: 100;
}
.ripple.overflow-hidden {
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  .ripple.ripple-dark-white .ripple-wave {
    background-color: #ffffff1c;
  }
}
:root {
  --f7-theme-color: #5acca8;
  --f7-theme-color-rgb: 90, 204, 168;
  --f7-theme-color-shade: #3cc197;
  --f7-theme-color-tint: #79d6b8;
}
.ios .notification.modal-in {
  backdrop-filter: blur(6px);
}
.menuTooltip {
  left: 5rem !important;
  top: 10% !important;
  background-color: #2c2c2c;
  font-size: 15pt !important;
  padding: 0.7rem !important;
}
.menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: linear-gradient(270deg, #77b7ff69 -168.67%, #c4c4c400 162.05%, #c4c4c400 162.05%);
  z-index: 5001;
  border-radius: 0rem 7rem 7rem 0rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.menu .glab {
  font-size: 150%;
}
.menu .items {
  margin-top: 1rem;
}
.menu .items .it {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.7;
  margin: 3rem auto;
  filter: drop-shadow(0px 0px 0px #81b989b3);
  transition: 0.3s ease;
  cursor: pointer;
}
.menu .items .it:hover {
  filter: drop-shadow(0px 7px 6px #81b989b3);
}
.menu .items .itc {
  position: relative;
  display: block !important;
}
.menu .items .itc.tab-link-active .it {
  filter: drop-shadow(0px 7px 6px #81b989b3);
}
.menu .items .home.it {
  background: linear-gradient(223.03deg, #83FFAD -19.09%, #ffdead 132.84%);
}
.menu .items .note.it {
  background: linear-gradient(270deg, #83FFAD -73.42%, #ffdead 135.6%);
  transform: rotate(-45deg);
}
.menu .items .settings.it {
  background: linear-gradient(223.03deg, #83FFAD -19.09%, #ffdead 132.84%);
  border-radius: 21.5px;
}
.page[data-name='home'] {
  background-color: var(--mainBg);
  box-shadow: inset -1px 182px 94px -135px var(--mainBsh);
}
.header {
  padding: 1.5rem 2rem;
  font-weight: 900;
  font-size: 23pt;
  color: var(--headerC);
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}
@media (min-width: 900px) {
  .header .greet {
    display: inline-block;
  }
}
.header .namePrompt {
  display: none;
  opacity: 0;
  transition: 0.5s ease;
}
.header .namePrompt input {
  background-color: var(--nameInpBg);
  border: 1px solid var(--nameInpBor);
  width: 100%;
  text-align: center;
  padding: 0.8rem 0.5rem;
  border-radius: 1000rem;
  margin: 1rem 0rem;
  font-size: 14pt;
  font-weight: 500;
  color: var(--nameInpC);
}
@media (min-width: 900px) {
  .header .namePrompt input {
    width: 40%;
  }
}
.header .namePrompt .error {
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  color: #d74646;
}
.header .weather {
  height: 35pt;
  filter: brightness(1.1);
  cursor: pointer;
}
.header .weatherUnder {
  height: 35pt;
  position: absolute;
  filter: brightness(1.1) blur(10px);
}
@media (prefers-color-scheme: dark) {
  .header .weatherUnder {
    opacity: 0.4;
  }
}
.header .weatherBlock {
  color: #000;
}
@media (min-width: 900px) {
  .header .weatherBlock {
    display: inline-block;
  }
}
.cards {
  padding: 1rem;
}
@media (min-width: 900px) {
  .cards {
    display: flex;
    justify-content: space-around;
  }
}
.cards .cardd {
  padding: 2rem;
  background-color: blue;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 0rem;
  clip-path: polygon(100% 50%, 100% 68.2%, 100% 71.6%, 100% 73.9%, 100% 75.7%, 100% 77.2%, 99.9% 78.4%, 99.9% 79.5%, 99.9% 80.5%, 99.8% 81.4%, 99.8% 82.3%, 99.8% 83%, 99.7% 83.8%, 99.7% 84.4%, 99.6% 85.1%, 99.6% 85.7%, 99.5% 86.2%, 99.4% 86.8%, 99.4% 87.3%, 99.3% 87.8%, 99.2% 88.2%, 99.1% 88.7%, 99.1% 89.1%, 99% 89.5%, 98.9% 89.9%, 98.8% 90.3%, 98.7% 90.7%, 98.6% 91%, 98.5% 91.4%, 98.4% 91.7%, 98.2% 92%, 98.1% 92.4%, 98% 92.7%, 97.8% 93%, 97.7% 93.2%, 97.6% 93.5%, 97.4% 93.8%, 97.3% 94%, 97.1% 94.3%, 96.9% 94.5%, 96.8% 94.8%, 96.6% 95%, 96.4% 95.2%, 96.2% 95.4%, 96% 95.6%, 95.9% 95.9%, 95.6% 96%, 95.4% 96.2%, 95.2% 96.4%, 95% 96.6%, 94.8% 96.8%, 94.5% 96.9%, 94.3% 97.1%, 94% 97.3%, 93.8% 97.4%, 93.5% 97.6%, 93.2% 97.7%, 93% 97.8%, 92.7% 98%, 92.4% 98.1%, 92% 98.2%, 91.7% 98.4%, 91.4% 98.5%, 91% 98.6%, 90.7% 98.7%, 90.3% 98.8%, 89.9% 98.9%, 89.5% 99%, 89.1% 99.1%, 88.7% 99.1%, 88.2% 99.2%, 87.8% 99.3%, 87.3% 99.4%, 86.8% 99.4%, 86.2% 99.5%, 85.7% 99.6%, 85.1% 99.6%, 84.4% 99.7%, 83.8% 99.7%, 83% 99.8%, 82.3% 99.8%, 81.4% 99.8%, 80.5% 99.9%, 79.5% 99.9%, 78.4% 99.9%, 77.2% 100%, 75.7% 100%, 73.9% 100%, 71.6% 100%, 68.2% 100%, 50% 100%, 31.8% 100%, 28.4% 100%, 26.1% 100%, 24.3% 100%, 22.8% 100%, 21.6% 99.9%, 20.5% 99.9%, 19.5% 99.9%, 18.6% 99.8%, 17.7% 99.8%, 17% 99.8%, 16.2% 99.7%, 15.6% 99.7%, 14.9% 99.6%, 14.3% 99.6%, 13.8% 99.5%, 13.2% 99.4%, 12.7% 99.4%, 12.2% 99.3%, 11.8% 99.2%, 11.3% 99.1%, 10.9% 99.1%, 10.5% 99%, 10.1% 98.9%, 9.7% 98.8%, 9.3% 98.7%, 9% 98.6%, 8.6% 98.5%, 8.3% 98.4%, 8% 98.2%, 7.6% 98.1%, 7.3% 98%, 7% 97.8%, 6.8% 97.7%, 6.5% 97.6%, 6.2% 97.4%, 6% 97.3%, 5.7% 97.1%, 5.5% 96.9%, 5.2% 96.8%, 5% 96.6%, 4.8% 96.4%, 4.6% 96.2%, 4.4% 96%, 4.1% 95.9%, 4% 95.6%, 3.8% 95.4%, 3.6% 95.2%, 3.4% 95%, 3.2% 94.8%, 3.1% 94.5%, 2.9% 94.3%, 2.7% 94%, 2.6% 93.8%, 2.4% 93.5%, 2.3% 93.2%, 2.2% 93%, 2% 92.7%, 1.9% 92.4%, 1.8% 92%, 1.6% 91.7%, 1.5% 91.4%, 1.4% 91%, 1.3% 90.7%, 1.2% 90.3%, 1.1% 89.9%, 1% 89.5%, 0.9% 89.1%, 0.9% 88.7%, 0.8% 88.2%, 0.7% 87.8%, 0.6% 87.3%, 0.6% 86.8%, 0.5% 86.2%, 0.4% 85.7%, 0.4% 85.1%, 0.3% 84.4%, 0.3% 83.8%, 0.2% 83%, 0.2% 82.3%, 0.2% 81.4%, 0.1% 80.5%, 0.1% 79.5%, 0.1% 78.4%, 0% 77.2%, 0% 75.7%, 0% 73.9%, 0% 71.6%, 0% 68.2%, 0% 50%, 0% 31.8%, 0% 28.4%, 0% 26.1%, 0% 24.3%, 0% 22.8%, 0.1% 21.6%, 0.1% 20.5%, 0.1% 19.5%, 0.2% 18.6%, 0.2% 17.7%, 0.2% 17%, 0.3% 16.2%, 0.3% 15.6%, 0.4% 14.9%, 0.4% 14.3%, 0.5% 13.8%, 0.6% 13.2%, 0.6% 12.7%, 0.7% 12.2%, 0.8% 11.8%, 0.9% 11.3%, 0.9% 10.9%, 1% 10.5%, 1.1% 10.1%, 1.2% 9.7%, 1.3% 9.3%, 1.4% 9%, 1.5% 8.6%, 1.6% 8.3%, 1.8% 8%, 1.9% 7.6%, 2% 7.3%, 2.2% 7%, 2.3% 6.8%, 2.4% 6.5%, 2.6% 6.2%, 2.7% 6%, 2.9% 5.7%, 3.1% 5.5%, 3.2% 5.2%, 3.4% 5%, 3.6% 4.8%, 3.8% 4.6%, 4% 4.4%, 4.1% 4.1%, 4.4% 4%, 4.6% 3.8%, 4.8% 3.6%, 5% 3.4%, 5.2% 3.2%, 5.5% 3.1%, 5.7% 2.9%, 6% 2.7%, 6.2% 2.6%, 6.5% 2.4%, 6.8% 2.3%, 7% 2.2%, 7.3% 2%, 7.6% 1.9%, 8% 1.8%, 8.3% 1.6%, 8.6% 1.5%, 9% 1.4%, 9.3% 1.3%, 9.7% 1.2%, 10.1% 1.1%, 10.5% 1%, 10.9% 0.9%, 11.3% 0.9%, 11.8% 0.8%, 12.2% 0.7%, 12.7% 0.6%, 13.2% 0.6%, 13.8% 0.5%, 14.3% 0.4%, 14.9% 0.4%, 15.6% 0.3%, 16.2% 0.3%, 17% 0.2%, 17.7% 0.2%, 18.6% 0.2%, 19.5% 0.1%, 20.5% 0.1%, 21.6% 0.1%, 22.8% 0%, 24.3% 0%, 26.1% 0%, 28.4% 0%, 31.8% 0%, 50% 0%, 68.2% 0%, 71.6% 0%, 73.9% 0%, 75.7% 0%, 77.2% 0%, 78.4% 0.1%, 79.5% 0.1%, 80.5% 0.1%, 81.4% 0.2%, 82.3% 0.2%, 83% 0.2%, 83.8% 0.3%, 84.4% 0.3%, 85.1% 0.4%, 85.7% 0.4%, 86.2% 0.5%, 86.8% 0.6%, 87.3% 0.6%, 87.8% 0.7%, 88.2% 0.8%, 88.7% 0.9%, 89.1% 0.9%, 89.5% 1%, 89.9% 1.1%, 90.3% 1.2%, 90.7% 1.3%, 91% 1.4%, 91.4% 1.5%, 91.7% 1.6%, 92% 1.8%, 92.4% 1.9%, 92.7% 2%, 93% 2.2%, 93.2% 2.3%, 93.5% 2.4%, 93.8% 2.6%, 94% 2.7%, 94.3% 2.9%, 94.5% 3.1%, 94.8% 3.2%, 95% 3.4%, 95.2% 3.6%, 95.4% 3.8%, 95.6% 4%, 95.9% 4.1%, 96% 4.4%, 96.2% 4.6%, 96.4% 4.8%, 96.6% 5%, 96.8% 5.2%, 96.9% 5.5%, 97.1% 5.7%, 97.3% 6%, 97.4% 6.2%, 97.6% 6.5%, 97.7% 6.8%, 97.8% 7%, 98% 7.3%, 98.1% 7.6%, 98.2% 8%, 98.4% 8.3%, 98.5% 8.6%, 98.6% 9%, 98.7% 9.3%, 98.8% 9.7%, 98.9% 10.1%, 99% 10.5%, 99.1% 10.9%, 99.1% 11.3%, 99.2% 11.8%, 99.3% 12.2%, 99.4% 12.7%, 99.4% 13.2%, 99.5% 13.8%, 99.6% 14.3%, 99.6% 14.9%, 99.7% 15.6%, 99.7% 16.2%, 99.8% 17%, 99.8% 17.7%, 99.8% 18.6%, 99.9% 19.5%, 99.9% 20.5%, 99.9% 21.6%, 100% 22.8%, 100% 24.3%, 100% 26.1%, 100% 28.4%, 100% 31.8%, 100% 0);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
@media (min-width: 480px) {
  .cards .cardd {
    border-radius: 3rem;
    clip-path: none;
    padding: 3rem;
  }
}
.cards .water {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.04, 0.93, 0.76, 0.98);
  box-shadow: var(--waterCardBSH);
  background: var(--waterCardGrad);
}
.cards .water::after {
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cards .water.active-state {
  transform: scale(0.93);
  transition: 0.3s cubic-bezier(0.92, 0.01, 1, 0.9) !important;
}
.cards .water #teachCircle {
  height: 4rem;
  position: absolute;
  z-index: 2;
  width: 4rem;
  opacity: 1;
  transition: opacity 0.4s ease;
  left: 26%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.cards .water .zPlane {
  content: '';
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (prefers-color-scheme: dark) {
  .cards .water .water {
    opacity: 1  ;
  }
}
.cards .water span {
  color: #73bcc5;
  font-weight: 900;
  font-size: 26pt;
}
@media (prefers-color-scheme: dark) {
  .cards .water span {
    color: #3a4768;
  }
}
@media (min-width: 900px) {
  .cards .water span {
    font-size: 35pt;
    margin-bottom: 5rem;
  }
}
.cards .water .waterBox {
  position: absolute;
  z-index: 2;
  right: 2.5rem;
  top: 2.5rem;
  width: 7rem;
  height: 7rem;
  box-shadow: none;
  border: 4px rgba(0, 0, 0, 0.548) solid;
}
.cards .water .waterBox::after {
  content: '';
}
.cards .water .la {
  opacity: 0.5;
  margin-left: 1rem;
}
.cards .water .cups {
  margin-bottom: 0rem;
  z-index: 4;
  position: relative;
}
.cards .water .cups .cup {
  margin: 1rem 1rem 0rem;
}
.cards .water .gaugeControl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cards .water .gaugeControl .btn {
  color: #65b7c3;
  background-color: rgba(255, 255, 255, 0.52157);
  border-radius: 10rem;
  width: 2.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  margin: 0.6rem;
  transform: scale(1);
  transition: 0.2s;
  z-index: 4;
  position: relative;
}
.cards .water .gaugeControl .btn::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
}
.cards .water .gaugeControl .gaugeBox {
  color: red;
  align-self: flex-end;
}
.cards .water .gaugeControl .gaugeBox .gauge {
  font-size: 85%;
}
.cards .water .hold {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.cards .water .hold .gauge {
  transform: scale(1);
  font-size: 120%;
}
.cards .water .hold .control {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}
.cards .water .hold .control > div {
  color: #000000b5;
  background-color: #ffffff7a;
  margin: 0.6rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 2.3rem;
  border-radius: 100rem;
  border: 1px #65b7c391 solid;
  position: relative;
  display: flex;
}
.cards .water .hold .control > div .pl {
  color: #87e2be;
  font-size: 2.7rem;
  position: absolute;
  z-index: 4;
  right: 3px;
  top: 50%;
  line-height: 2.7rem;
  transform: translateY(-53%);
}
.cards .water .hold .control > div .pl::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}
.cards .water .hold .control > div .mi {
  color: #f7a1a1;
  font-size: 2.7rem;
  position: absolute;
  z-index: 4;
  left: 6px;
  top: 50%;
  line-height: 2.7rem;
  transform: translateY(-53%);
}
.cards .water .hold .control > div .mi::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}
.gauge {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  display: block;
}
.gaugeCont {
  position: relative;
}
@keyframes aniScale02 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.page[data-name='water'] {
  background-color: var(--waterPageBg);
  box-shadow: inset -1px 182px 94px -135px #00e4ff1c;
}
.page[data-name='water'] .page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .page[data-name='water'] .page-content {
    justify-content: flex-start;
  }
}
.page[data-name='water'] .info {
  overflow: scroll;
  position: relative;
  z-index: 2;
}
@media (min-width: 900px) {
  .page[data-name='water'] .info {
    overflow: initial;
  }
}
.page[data-name='water'] .info .txt {
  padding: 0rem 1rem;
  font-size: 12pt;
  opacity: 0.7;
  line-height: 140%;
}
@media (min-width: 900px) {
  .page[data-name='water'] .info .txt {
    padding: 0rem 2rem;
    font-size: 14pt;
    opacity: 0.7;
    line-height: 140%;
  }
}
.page[data-name='water'] .info .txt > * {
  font-size: inherit;
  line-height: inherit;
}
.page[data-name='water'] .info .header {
  padding: 1.5rem 2rem;
}
.page[data-name='water'] .control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: 0px -11px 20px var(--waterPageControlBSh);
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
  z-index: 3;
  background-color: var(--waterPageBg);
  padding-top: 1rem;
  box-sizing: content-box;
}
@media (prefers-color-scheme: dark) {
  .page[data-name='water'] .control {
    border-top: 1px #ffffff17 solid;
  }
}
@media (min-width: 900px) {
  .page[data-name='water'] .control {
    box-shadow: none;
    border: none;
  }
}
.page[data-name='water'] .control .gr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-bottom: 1rem;
  grid-gap: 2rem;
  align-items: center;
}
.page[data-name='water'] .control .gr .gr1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.page[data-name='water'] .control .gr .gr1 .cup {
  border-radius: 4rem;
  height: 5rem;
  width: 3rem;
  padding: 2.4rem;
  margin: 0rem 1rem;
}
.page[data-name='water'] .control .gr .gr1 .la {
  margin-left: 2rem;
}
.page[data-name='water'] .control .la {
  margin: 1rem 0rem;
  opacity: 0.5;
}
@media (min-width: 900px) {
  .page[data-name='water'] .control .waterBox {
    width: 21vw;
    height: 21vw;
  }
  .page[data-name='water'] .control .waterBox .waterMl {
    font-size: 2.5vw;
  }
}
.page[data-name='water'] .control .range-slider {
  width: 90%;
}
@media (min-width: 900px) {
  .page[data-name='water'] .control .range-slider {
    width: 60vw;
  }
}
.page[data-name='water'] .control .confirmSlide {
  background-color: var(--waterPageBg);
  padding: 0.6rem 2rem;
  border-radius: 10rem;
  margin-top: 2rem;
  opacity: 0;
  box-shadow: 15px 11px 20px -5px white, -6px -5px 20px -5px #00000017;
  transition: 0.2s ease;
}
@media (prefers-color-scheme: dark) {
  .page[data-name='water'] .control .confirmSlide {
    box-shadow: 15px 11px 20px -5px #ffffff0f, -6px -5px 20px -5px #000000;
  }
}
@media (min-width: 900px) {
  .page[data-name='water'] .control .confirmSlide {
    padding: 1rem 3rem;
    font-size: 13pt;
    cursor: pointer;
  }
}
@media (hover: hover) and (pointer: fine) {
  .page[data-name='water'] .control .confirmSlide:hover {
    font-style: inherit ;box-shadow: 15px 11px 20px -5px #ffffff4f, -6px -5px 20px -5px #000000;;
  }
}
.page[data-name='water'] .control .confirmSlide.active-state {
  font-style: inherit ;box-shadow: 15px 11px 20px -5px #ffffff4f, -6px -5px 20px -5px #000000;;
}
.waterBox {
  width: 10rem;
  height: 10rem;
  border-radius: 1000rem;
  overflow: hidden;
  position: relative;
  border: 5px var(--waterPageBg) solid;
  box-shadow: 8px 9px 20px white, -6px -2px 20px #00000063, inset 8px 9px 20px white, inset -6px -2px 20px #0000001f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
}
@media (prefers-color-scheme: dark) {
  .waterBox {
    box-shadow: 8px 9px 20px #ffffff12, -6px -2px 20px #000000, inset 8px 9px 20px #ffffff14, inset -6px -2px 20px #000000;
  }
}
.waterBox .waterMl {
  font-size: 15pt;
  font-weight: 700;
  opacity: 0.7;
  position: relative;
  z-index: 1;
}
.waterBox .water {
  position: absolute;
  /* top: 0; */
  opacity: 0.6;
  bottom: 0%;
  width: 100%;
  transform: translateY(50%);
  transition: 0.3s ease;
  filter: drop-shadow(0px 5px 3px #5881ae);
}
.cups {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.cups .cup {
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--cupBg);
  border-radius: 3rem;
  padding: 1.4rem;
  /* border: 1px #00000014 solid; */
  transition: 0.2s ease;
  transform: scale(1);
  box-shadow: 0px 0px 20px #00000007;
  cursor: pointer;
}
.cups .cup:hover {
  box-shadow: 0px 0px 20px #0000007a;
}
.cups .cup::after {
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cups .cup img {
  height: inherit;
}
.cups .cup .label {
  font-size: 10pt;
  margin-bottom: -1rem;
  margin-top: 0.1rem;
  opacity: 0.6;
}
.page[data-name='settings'] {
  background-color: var(--settingsBg);
  box-shadow: inset -1px 182px 94px -135px #ea00ff11;
}
.page[data-name='settings'] .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page[data-name='settings'] .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.page[data-name='settings'] .profile .ava {
  border-radius: 100rem;
  height: 5rem;
  width: 5rem;
}
.page[data-name='settings'] .profile .name {
  text-align: center;
}
.page[data-name='settings'] .links-list {
  width: 100%;
}
.codcwss {
  display: block;
}
