
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.select {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}

.border-squircle(@radius-x; @radius-y) {
  .loop(@radius-x; @radius-y; 359; 100% 0);
}
.loop(@radius-x; @radius-y; @counter; @list) when (@counter >= 0) {
  @cos-x: cos(unit(@counter, deg));
  @x: pow(abs(@cos-x), unit(@radius-x) / 100) * 50 * abs(@cos-x + 0.0000000001) / (@cos-x + 0.0000000001) + 50;
  
  @sin-y: sin(unit(@counter, deg));
  @y: pow(abs(@sin-y), unit(@radius-y) / 100) * 50 * abs(@sin-y + 0.0000000001) / (@sin-y + 0.0000000001) + 50;
  
  @percent-x: percentage(round(@x, 1) / 100);
  @percent-y: percentage(round(@y, 1) / 100);
  
  @new-list: @percent-x @percent-y, @list;
  .loop(@radius-x; @radius-y; (@counter - 1); @new-list);
}
.loop(@radius-x; @radius-y; @counter; @list) when (@counter < 0) {
  clip-path: polygon(@list);
}

.hover(@code) {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      font-style: inherit~ ";@{code}";
    }
  }

  &.active-state {
    font-style: inherit~ ";@{code}";
  }
}

.hair {
  &::before {
    content: "";
    position: absolute;
    background-color: var(--hair) !important;
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 0%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 100%;
    height: 8px;
    top: auto;
    pointer-events: none;
    background: var(--f7-toolbar-bottom-shadow-image);
    transform: translate3d(0, 0, 0);
  }
}

.m-wideLilBtn(@p){
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: @p;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@fontFamily: "Inter", sans-serif;
@PFontFamily: "Inter", sans-serif;
@scrollBar: #6c4124;
@iColor: #6b4124;
@strongColor: #110e4a;
@bp-mobile: ~"max-width: 1024px";
@bp-tablet: ~"min-width: 900px";

//night colors
@night-bg: #151111;

//dayly colors
@day-bg: #f5f5f5;


  #mediaFlag500 {
    color: white;
  }

  body {
    --green:#5acca8;
    --themeBool: white;
    --waterCardBSH:0 0 23px -3px #9adae7;
    --mainBg:#F0F6F4;
    --mainBsh:#00ff801c;
    --nameInpBg:#F4F9F7;
    --nameInpBor:rgba(0, 0, 0, 0.06);
   --nameInpC:#32403c;
   --waterCardGrad:linear-gradient(233.81deg, #7DE7FE 4.14%, #dffff0 112.07%);

   --waterPageBg:#e9f3f9;
   --waterPageControlBSh:#0000002e;
   --cupBg:#ffffff96;

   --settingsBg:#fcf4ff;



    
    
  }


@media (prefers-color-scheme: dark) {
  #mediaFlag500 {
    color: black;
  }

  body {
    --f7-page-bg-color: var(--day-bg);
    // --f7-elevation-20:0px 10px 13px -6px rgba(209, 209, 209, 0.2), 0px 20px 31px 3px rgba(189, 189, 189, 0.14), 0px 8px 38px 7px rgba(173, 173, 173, 0.12) !important;
    --green:#5acca8;

    --themeBool: black;
   --mainBg:#0e1211;
   --mainBsh:#00ff800a;

   --headerC:#d0cccc;
   --nameInpBg:#171d1b;
   --nameInpBor:#ffffff0d;
   --nameInpC:#b7cbc5;
   --waterCardBSH:0 0 23px -3px #9adae75e;
   --waterCardGrad:linear-gradient(233.81deg, #7d8cfe 4.14%, #185046 112.07%);

   --waterPageBg:#101518;
   --waterPageControlBSh:#ffffff0d;
   --cupBg:#242e34b5;

   --settingsBg:#0e0811;



  }
}

:root {
  --f7-grid-gap: 2rem !important;
}

::selection {
  background: fade(@scrollBar, 70%);
  color: white;
}

::-moz-selection {
  background: fade(@scrollBar, 70%);
  color: white;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #971d2d00;
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: fade(#5acca8, 10%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: @scrollBar;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;

  @media (@bp-tablet) {
    width: 0px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  .noselect();
  background-color: var(--day-bg);
  @media (display-mode: standalone) {
    overscroll-behavior: contain;
  }
}

strong {
  color: var(--strongColor);
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h2 {
  font-size: 26pt;
  color: var(--hColor);
  margin-top: 1.5em;
}

h4 {
  font-size: 1.5em;
  color: var(--hColor);
  margin-top: 2em;
}

p {
  color: var(--pColor);
  font-size: 19pt;
  line-height: 30px;
  font-weight: 500;


  @media (@bp-tablet) {
    margin: 0px;
    font-size: 14pt;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

img {
  // pointer-events: none;
}

select{
  cursor: pointer;
}

button {
  height: auto !important;
  padding: 0.2rem !important;
}

non {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--nonColor);
  display: inline-block;
}

.mediaFlag500{display:none}
@media (@bp-tablet) {
	.mediaFlag500{display:block}
}

.page {
  // background-color: var(--day-bg);
}

.page-content{
  // height: auto;  так страница не листается
}

.ripple-wave {
  // background-color: rgba(0, 0, 0, 0.253);
  // background-color: rgba(255, 255, 255, 0.253);
  background-color: #00000038;
  z-index: 100;
}

.ripple {
  &.overflow-hidden {
    overflow: hidden;
  }

  &.ripple-dark-white .ripple-wave {
    @media (prefers-color-scheme: dark) {
      background-color: #ffffff1c;
    }
  }
}

:root {
  --f7-theme-color: #5acca8;
  --f7-theme-color-rgb: 90, 204, 168;
  --f7-theme-color-shade: #3cc197;
  --f7-theme-color-tint: #79d6b8;
}

.ios .notification.modal-in {
  backdrop-filter: blur(6px);
}

.router-transition-f7-circle-forward:after, .router-transition-f7-circle-backward:after{
  background: transparent;
}

.router-transition-f7-circle-forward .page-next{
  animation-delay: 0ms;
}

.router-transition-f7-circle-backward .page-current{
  animation: f7-circle-current-to-next 500ms forwards
}

.dialog{
  @media not screen and (@bp-tablet) {
    --f7-dialog-width:80vw !important;
    backdrop-filter: blur(3px);

    .dialog-text{
      font-size: 13pt;
      margin-top: 0.6rem !important;
    }

    .dialog-title{
      font-size: 16pt
    }
  }
}

.dialog-backdrop{
  backdrop-filter: blur(3px);
}

.block-strong{
  @media (@bp-tablet) {
    max-width: 60rem;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;

  }
}

.range-knob{
  cursor: e-resize;
}

.curPencil{
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 56 56'%3E%3Chead xmlns=''/%3E%3Cpath stroke='black' stroke-width='1' fill='white' d='M 43.2930 16.9258 L 45.6601 14.6055 C 46.8555 13.4101 46.9023 12.1211 45.8477 11.0430 L 45.0508 10.2461 C 43.9961 9.1914 42.7070 9.3086 41.5117 10.4570 L 39.1445 12.8008 Z M 15.6601 44.4883 L 41.2305 18.9414 L 37.1289 14.8164 L 11.5352 40.3867 L 9.3086 45.5898 C 9.0977 46.1523 9.6836 46.8086 10.2461 46.5742 Z'/%3E%3C/svg%3E") 16 16, pointer !important;
}

.curPlus{
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 56 56'%3E%3Cpath stroke='black' stroke-width='1' fill='white' d='M 27.9999 51.9063 C 41.0546 51.9063 51.9063 41.0781 51.9063 28 C 51.9063 14.9453 41.0312 4.0937 27.9765 4.0937 C 14.8983 4.0937 4.0937 14.9453 4.0937 28 C 4.0937 41.0781 14.9218 51.9063 27.9999 51.9063 Z M 27.9999 47.9219 C 16.9374 47.9219 8.1014 39.0625 8.1014 28 C 8.1014 16.9609 16.9140 8.0781 27.9765 8.0781 C 39.0155 8.0781 47.8983 16.9609 47.9219 28 C 47.9454 39.0625 39.0390 47.9219 27.9999 47.9219 Z M 27.9296 39.1328 C 29.1952 39.1328 29.9452 38.2656 29.9452 36.9063 L 29.9452 29.9688 L 37.2812 29.9688 C 38.5936 29.9688 39.5077 29.2890 39.5077 28.0469 C 39.5077 26.7812 38.6405 26.0547 37.2812 26.0547 L 29.9452 26.0547 L 29.9452 18.6953 C 29.9452 17.3125 29.1952 16.4688 27.9296 16.4688 C 26.6874 16.4688 26.0077 17.3594 26.0077 18.6953 L 26.0077 26.0547 L 18.6952 26.0547 C 17.3124 26.0547 16.4452 26.7812 16.4452 28.0469 C 16.4452 29.2890 17.3827 29.9688 18.6952 29.9688 L 26.0077 29.9688 L 26.0077 36.9063 C 26.0077 38.2188 26.6874 39.1328 27.9296 39.1328 Z'/%3E%3C/svg%3E") 16 16, pointer !important;
}

.menuTooltip{
  left: 5rem !important;
  top: 10% !important; 
  background-color: rgb(44, 44, 44);
  font-size: 15pt !important;
  padding: .7rem !important;
}


.menu{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: linear-gradient(
270deg
, #77b7ff69 -168.67%, #c4c4c400 162.05%, #c4c4c400 162.05%);
  z-index: 5001;
  border-radius: 0rem 7rem 7rem 0rem;
  padding: 2rem 1rem;
  box-sizing: border-box;

  .glab{
    font-size: 150%;
  }

  .items{
    margin-top: 1rem;

    .it{
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0.7;
      margin: 3rem auto;
      filter: drop-shadow(0px 0px 0px #81b989b3);
      transition: 0.3s ease;
      cursor: pointer;

      &:hover{
        filter: drop-shadow(0px 7px 6px #81b989b3);
      }

      
    }

    .itc{
      position: relative;
      display: block !important;

      &.tab-link-active{
        .it{
        filter: drop-shadow(0px 7px 6px #81b989b3);

        }
      }
    }
    
    .home.it{
      background: linear-gradient(
        223.03deg
        , #83FFAD -19.09%, #ffdead 132.84%);
    }
    .note.it{
      background: linear-gradient(
        270deg
        , #83FFAD -73.42%, #ffdead 135.6%);
            transform: rotate(
        -45deg
        );
    }
    .settings.it{
      background: linear-gradient(
        223.03deg
        , #83FFAD -19.09%, #ffdead 132.84%);
            border-radius: 21.5px;
    }
  }
}















.page[data-name='home']{
  background-color: var(--mainBg);

  box-shadow: inset -1px 182px 94px -135px var(--mainBsh);
}


.header{
  padding: 1.5rem 2rem;
  font-weight: 900;
  font-size: 23pt;
  color: var(--headerC);
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  .greet{
    @media (@bp-tablet) {
      display: inline-block;
    }
      
    .greeet{
    }
  }

  .namePrompt{
    display: none;
    opacity: 0;
    transition: 0.5s ease;
    position: relative;
    @media (@bp-tablet) {
      width: 40%;
    } 

    input{
      background-color: var(--nameInpBg);
      border: 1px solid var(--nameInpBor);
      width: 100%;
      text-align: center;
      padding: 0.8rem 1rem;
      // padding-right: 4rem;
      border-radius: 1000rem;
      margin: 1rem 0rem;
      font-size: 14pt;
      font-weight: 500;
      color: var(--nameInpC);
    }

    .error{
      display: none;
      opacity: 0;
      transition: 0.3s ease;
      color: #d74646;
    }

    .confirm{
      @media (prefers-color-scheme: light) {
        border: 1px #00000017 solid;
        box-shadow: -9px 0 15px -2px #00000014;
        color: #3e493fbd;
        background: #0000;
      }
    }
  }

  .weather{
    height: 35pt;
    filter: brightness(1.1);
    cursor: pointer;


    &.down{
      padding-top: 0.6rem;
      @media (@bp-tablet) {
        margin-bottom: -1rem;
      }
    }


    &Under{
      height: 35pt;
      position: absolute;
      filter: brightness(1.1) blur(10px);
      @media (prefers-color-scheme: dark) {
        opacity: 0.4;
      }

      &.down{
        padding-top: 0.6rem;
        @media (@bp-tablet) {
          margin-bottom: -1rem;
        }
      }
    }

    &Block{
      color: #000;
      @media (@bp-tablet) {
        display: inline-block;
      }
    }
  }

  img.weather{
    cursor: default;
  }
}

.cards{
  padding: 1rem;
  @media (@bp-tablet) {
    display: flex;
    justify-content: space-around;
  }
  .cardd{
    padding: 2rem;
    background-color: blue;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 0rem;
    .border-squircle (25%; 25%);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @media (min-width:480px) {
    border-radius: 3rem;
    clip-path: none;

      padding: 3rem;

    }
    
  }






  .water{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transform: scale(1);
    transition: 0.8s  cubic-bezier(0.04, 0.93, 0.76, 0.98);
    box-shadow: var(--waterCardBSH);

    background: var(--waterCardGrad);

    &::after{


      content: '';
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

    }


    &.active-state{
      transform: scale(0.93);
      transition: 0.3s  cubic-bezier(0.92, 0.01, 1, 0.9) !important;
      @media (@bp-tablet) {
        transform: scale(0.99);
      }

    }

    #teachCircle{
      height: 4rem;
      position: absolute;
      z-index: 2;
      width: 4rem;
      opacity: 1;
      transition: opacity 0.4s ease;
      left: 26%;
      top: 40%;
      transform: translate(-50%, -50%);
    }

    .zPlane{
      content: '';
      z-index: 3;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .water{
      @media (prefers-color-scheme: dark) {
        opacity: 0.7  ;
      }
    }

    span{
      color: #73bcc5;
      font-weight: 900;
      font-size: 26pt;
      @media (prefers-color-scheme: dark) {
        color: #3a4768;
      }
      @media (@bp-tablet) {
        font-size: 35pt;
        margin-bottom: 5rem;
      }
    }

    .waterBox{
      position: absolute;
      z-index: 2;
      right: 2.5rem;
      top: 2.5rem;
      width: 7rem;
      color: #394a52;
      height: 7rem;
      box-shadow: none;
      @media (prefers-color-scheme: dark) {
         border: 4px rgba(0, 0, 0, 0.548) solid;
         color: #a7c0cc;
      }
      border: 4px #ffffff59 solid;

      &::after{
        content: '';
      }
    }

    .la{
      opacity: 0.5;
    margin-left: 1rem;
    }

    .cups{
      margin-bottom: 0rem;
      z-index: 4;
      position: relative;

      .cup{
        margin: 1rem 1rem 0rem;

      }
    }

    .gaugeControl{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .btn{
        color: #65b7c3;
        @media (prefers-color-scheme: dark) {
          color: #136c79;
        }
        background-color: rgba(255,255,255,0.52157);
        border-radius: 10rem;
        width: 2.5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8pt;
        margin: 0.6rem;
        transform: scale(1);
        transition: 0.2s;
        z-index: 4;
        position: relative;

        
          .m-wideLilBtn(30px)
        
      }
      .gaugeBox{
        color: red;
        align-self: flex-end;

        .gauge{
        font-size: 85%;

        }
      }
    }

    .hold{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      height: 100%;

      .gauge{
        transform: scale(1);
        font-size: 120%;
      }

      .control{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 4;

        &>div{
          color: #000000b5;
          background-color: #ffffff7a;
          margin: 0.6rem 0rem;
          box-sizing: border-box;
          padding: 0.6rem 2.3rem;
          border-radius: 100rem;
          border: 1px #65b7c391 solid;
          position: relative;
          display: flex;

          .pl{
            color: #87e2be;
            font-size: 2.7rem;
            position: absolute;
            z-index: 4;
            right: 3px;
            top: 50%;
            line-height: 2.7rem;
            transform: translateY(-53%);
            
              .m-wideLilBtn(10px)
            
          }

          .mi{
            color: #f7a1a1;
            font-size: 2.7rem;
            position: absolute;
            z-index: 4;
            left: 6px;
            top: 50%;
            line-height: 2.7rem;
            transform: translateY(-53%);
            
              .m-wideLilBtn(10px)
            
          }
        }
      }
    }
  }
}

.gauge{
  position: relative;
  margin: auto;
  margin-top: 1rem;
  display: block;
  &Cont{
    position: relative;
  }
}


@keyframes aniScale02 {
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);

  }
  to{
    transform: scale(1);
  }
}









































.page[data-name='water']{
  background-color: var(--waterPageBg);
  box-shadow: inset -1px 182px 94px -135px #00e4ff1c;

  .page-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (@bp-tablet) {
      justify-content: flex-start;
    }
  }

  .info{
    overflow: scroll;
    position: relative;
    z-index: 2;
    @media (@bp-tablet) {
      overflow: initial;
    }

    .txt{
      padding: 0rem 1rem;
      font-size: 12pt;
      opacity: 0.7;
      line-height: 140%;
      @media (@bp-tablet) {
        padding: 0rem 2rem;
        font-size: 14pt;
        opacity: 0.7;
        line-height: 140%;
      }
      &>*{
        font-size: inherit;
        line-height: inherit;
      }
    }

    .header{
      padding:1.5rem 2rem ;
    }
  }

  .control{
    display: flex;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    box-shadow: 0px -11px 20px var(--waterPageControlBSh);
    border-radius: 2rem 2rem 0rem 0rem;
    position: relative;
    z-index: 3;
    background-color: var(--waterPageBg);
    padding-top: 1rem;
    box-sizing: content-box;
    @media (prefers-color-scheme: dark) {
      border-top: 1px #ffffff17 solid;
    }
    @media (@bp-tablet) {
      box-shadow: none;
      border: none;
    }


    .gr{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 70%;
      margin-bottom: 1rem;
      grid-gap: 2rem;
      align-items: center;

      .gr1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .cupIn{
          // border-radius: 4rem;
          height: 5rem;
          width: 3rem;
          padding: 2.4rem;
          margin: 0rem 1rem;
          .border-squircle(70%, 70%)
        }
        .la{
          margin-left: 2rem;
        }
      }
    }

    .la{
      margin: 1rem 0rem;
      opacity: 0.5;
    }

    .waterBox{
      @media (@bp-tablet) {
        width: 21vw;
        height: 21vw;
        
        .waterMl{
          font-size: 2.5vw;
        }
      }
    }


    .range-slider{
      width: 90%;

      @media (@bp-tablet) {
        width: 60vw;
      }
    }

    .confirmSlide{
      background-color: var(--waterPageBg);
      padding: 0.6rem 2rem;
      border-radius: 10rem;
      margin-top: 2rem;
      opacity: 0;
      box-shadow: 15px 11px 20px -5px white, -6px -5px 20px -5px #00000017;
      transition: 0.2s ease;
      @media (@bp-tablet) {
        padding: 1rem 3rem;
        font-size: 13pt;
        cursor: pointer;
      }

      .hover('box-shadow: 15px 11px 20px -5px rgb(255 255 255), -6px -5px 20px -5px #00000030;');

      @media (prefers-color-scheme: dark) {
        box-shadow: 15px 11px 20px -5px #ffffff0f, -6px -5px 20px -5px rgb(0 0 0);
        .hover('box-shadow: 15px 11px 20px -5px #ffffff4f, -6px -5px 20px -5px #000000;')
      }
    }
  }
}

.waterBox{
  width: 10rem;
  height: 10rem;
  border-radius: 1000rem;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 5px var(--waterPageBg) solid;
  box-shadow: 8px 9px 20px white, -6px -2px 20px #00000063, inset 8px 9px 20px white, inset -6px -2px 20px #0000001f;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (prefers-color-scheme: dark) {
    box-shadow: 8px 9px 20px #ffffff12, -6px -2px 20px rgb(0 0 0), inset 8px 9px 20px #ffffff14, inset -6px -2px 20px rgb(0 0 0)
  }

  .waterMl{
    font-size: 15pt;
font-weight: 700;
opacity: 0.7;
position: relative;
z-index: 1;
  }

  .water{
    position: absolute;
    /* top: 0; */
    opacity: 0.6;
    bottom: 0%;
    width: 100%;
    transform: translateY(50%);
    // opacity: 0.6;
  transition: 0.9s ease-out;


  svg{
    box-shadow: -1px 20px 0 200px #688aaf;
  }
  }
}

.cups{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  
  
  .cup{
    filter: drop-shadow(0px 2px 7px #0000001a);

    .cupIn{
      display: flex;
      flex-direction: column;
      height: 4rem;
      width: 3rem;
      align-items: center;
      justify-content: center;
      background-color: var(--cupBg);
      // border-radius: 3rem;
      padding: 1.4rem;
      /* border: 1px #00000014 solid; */
      transition: 0.2s ease;
      transform: scale(1);
      
      cursor: pointer;
      .border-squircle (70%; 70%);
      // .hover('box-shadow:0px 0px 20px rgb(0 0 0 / 61%);')

      &::after{
        content: '';
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      
    }

    img{
      height: inherit;
    }

    .label{
      font-size: 10pt;
      margin-bottom: -1rem;
      margin-top: 0.1rem;
      opacity: 0.6;
    }
  }
}













.page[data-name='settings']{
  background-color: var(--settingsBg);


  .page-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  
    &::before{
      content: '';
    box-shadow: 1px 2px 89px 20px #ea00ff2d;
    width: 100%;
    position: absolute;
    z-index: -8;
    top: 0px;
    left: 0px;
    height: 0rem;

    }
  }

  .profile{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    .ava{
      height: 5rem;
      width: 5rem;
      filter: brightness(1);
    }

    .avaEdit{
      position: relative;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100rem;
      overflow: hidden;
      transition: 0.3s ease;
      color: white;
      

      i{
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: 0.3s ease;
      }
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
        cursor: pointer;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover i {
          opacity: 1;
        }
      }
      &.active-state i {
        opacity: 1;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover .ava {
          filter: brightness(0.6);
        }
      }
      &.active-state .ava {
        filter: brightness(0.6);
      }
    }
    .name{
      font-size: 14pt;
      font-weight: 500;
      text-decoration: underline dotted;
      text-decoration-color: #797979;
      cursor: pointer;
      display: block;
    margin: 0.6rem auto;
    }

  }


  .title{
    
    font-size: 13pt;
    font-weight: 400;
    color: var(--headerC);
    padding-top: 0px !important;

  }

  button{
    margin: 1rem auto;
    width: 80%;
    padding: 0.9rem;
    margin-bottom: 0.4rem;
    @media (@bp-tablet) {
      width: 40%;
    }
  }

  ul{
    display: grid;
  }

  .accordion-item-content p{
    font-size: 15pt;
    line-height: 140%;
  }

  .list .f7-icons{
    &.water{
      color: #95affe;

      @media (prefers-color-scheme: dark) {
        color: #7d96e4;
      }
    }
  }

}

.picker{
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;

  .toolbar-inner{
    padding: 0 1.5rem;
    border-radius: 2rem 2rem 0 0;
    
    @media (prefers-color-scheme: dark) {
      border-top: 1px #fff8f818 solid;
    }
  }
}

.codcwss{
  display: block;
}

.popup-backdrop{
  backdrop-filter: blur(4px);
}

.popup{
  height: 90%;
  top: auto;
  bottom: 0px !important;
  border-radius: 2rem 2rem 0rem 0rem;
  @media (@bp-tablet) {
    border-radius: 2rem !important;
  }
  

  .page{
    background-color: var(--mainBg);
    border-radius: 2rem 2rem 0rem 0rem;
    @media (prefers-color-scheme: dark) {
      border-top: 1px #fff8f818 solid;
    }
    @media (@bp-tablet) {
      border: 1px #fff8f818 solid !important;
      border-radius: 2rem 2rem 2rem 2rem;
    }

    padding: 1rem;
    
  }

  #avaChangeHandler{
    background: #87878791;
    height: 0.5rem;
    border-radius: 90rem;
    width: 20%;
    margin: auto;
    margin-top: 1rem;
    position: relative;
    @media (@bp-tablet) {
      display: none;
    }


      .m-wideLilBtn(30px)

  }
}

#avaChangePopup{
  .sec{
    margin-top: 2rem;

    .tit{
      margin: 0;
    display: inline-flex;

      i{
        color: #7a7a7a80;
        
        margin-right: 0rem;
      }
    }

    &.lock_open_{
      i{
        margin-right: 0.4rem;
      }

      .ava{
        filter: brightness(1) !important;
      }
    }

    .avas{
      // background-color: red;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .ava{
        width: 5rem;
    height: 5rem;
    margin: 1rem;
    filter: brightness(0.6);
    margin: 0.9rem;
    border-radius: 90rem;
    overflow: hidden;
    box-sizing: border-box;
    background: rgb(217,45,255);
    background: linear-gradient(24deg, rgba(217,45,255,1) 0%, rgba(53,255,195,1) 100%);
    position: relative;
    transition: 0.3s;

    &::before{
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
      cursor: pointer;
    }

    img{
      width: 94%;
      height: 94%;
      border-radius: 99rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
      }
    }
  }

  .prew{
    display: none;
    opacity: 0;
    transition: 0.3s ease;
    position: fixed;
    left: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    flex-direction: column;
    align-items: center;
    width: 95%;
    @media (@bp-tablet) {
      transform: translate(-50%, -50%) scale(0);
    }

    span{
      text-align: center;
      margin-bottom: 2rem;
    font-size: 18pt;
    font-weight: 500;
    }
    img{
      height: 8rem;
    width: 8rem;
    border-radius: 99rem;
    }
    
    .bt{
      display: flex;
      margin-top: 3rem;
      font-size: 22pt;

      .yes{
        margin-right: 3rem;
        box-shadow: 0px 0px 0 -3px #00d8ff7a;
        cursor: pointer;
        transition: 0.3s ease;
        position:relative;

        .m-wideLilBtn(20px);

        &:hover{
          box-shadow: 0px 6px 0 -3px #00d8ff7a;
        }
      }

      .no{
        box-shadow: 0px 0px 0 -3px #ff1e007a;
        cursor: pointer;
        transition: 0.3s ease;
        position:relative;

        .m-wideLilBtn(20px);

        &:hover{
          box-shadow: 0px 6px 0 -3px #ff1e007a;
        }
      }
    }
    &Bg{
      width: 900vw;
      height: 900vw;
      position: fixed;
      bottom: -75vh;
      left: -310vw;
      display: none;
      opacity: 0;
      transition: 0.3s ease;
      backdrop-filter: blur(3px) saturate(0.7);
      z-index: 2;
      box-shadow: inset 1px 1px 0 200000px #ffffff7c;
      @media (prefers-color-scheme: dark) {
        box-shadow: inset 1px 1px 0 200000px #00000070;
      }
    }
  }
}