.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.select {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}
.hair::before {
  content: "";
  position: absolute;
  background-color: var(--hair) !important;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 50% 0%;
  transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.hair::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 100%;
  height: 8px;
  top: auto;
  pointer-events: none;
  background: var(--f7-toolbar-bottom-shadow-image);
  transform: translate3d(0, 0, 0);
}
@media (prefers-color-scheme: light) {
  #mediaFlag500 {
    color: white;
  }
  body {
    --themeBool: white;
  }
}
@media (prefers-color-scheme: dark) {
  #mediaFlag500 {
    color: black;
  }
  body {
    --f7-page-bg-color: var(--day-bg);
    --themeBool: black;
  }
}
:root {
  --f7-grid-gap: 2rem !important;
}
::selection {
  background: rgba(108, 65, 36, 0.7);
  color: white;
}
::-moz-selection {
  background: rgba(108, 65, 36, 0.7);
  color: white;
}
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #971d2d00;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #6c4124;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6c4124;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
@media (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  background-color: var(--day-bg);
}
@media (display-mode: standalone) {
  html,
  body {
    overscroll-behavior: contain;
  }
}
strong {
  color: var(--strongColor);
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h2 {
  font-size: 26pt;
  color: var(--hColor);
  margin-top: 1.5em;
}
h4 {
  font-size: 1.5em;
  color: var(--hColor);
  margin-top: 2em;
}
p {
  color: var(--pColor);
  margin: 30px 90px;
  font-size: 19pt;
  line-height: 30px;
  font-weight: 500;
}
@media (max-width: 800px) {
  p {
    margin: 0px;
    font-size: 14pt;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
non {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--nonColor);
  display: inline-block;
}
.page {
  background-color: ;
}
.ripple-wave {
  background-color: #00000038;
  z-index: 100;
}
.ripple.overflow-hidden {
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  .ripple.ripple-dark-white .ripple-wave {
    background-color: #ffffff1c;
  }
}
.page[data-name='home'] {
  background-color: #F0F6F4;
}
.page[data-name='water'] {
  background-color: #eefaff;
}
.header {
  padding: 1.5rem 2rem;
}
.header .greet {
  font-weight: 900;
  font-size: 23pt;
}
.header .namePrompt {
  display: none;
  opacity: 0;
  transition: 0.5s ease;
}
.header .namePrompt input {
  background-color: #F4F9F7;
  border: 1px solid rgba(0, 0, 0, 0.06);
  width: 100%;
  text-align: center;
  padding: 0.8rem 0.5rem;
  border-radius: 1000rem;
  margin: 1rem 0rem;
  font-size: 14pt;
  font-weight: 500;
  color: #32403c;
}
.header .namePrompt .error {
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  color: #d74646;
}
.header .weather {
  height: 35pt;
  filter: brightness(1.1);
}
.header .weatherUnder {
  height: 35pt;
  position: absolute;
  filter: brightness(1.1) blur(10px);
}
.header .gauge {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  display: block;
}
.cards {
  padding: 1rem;
}
.cards .cardd {
  padding: 2rem;
  background-color: blue;
  height: 13rem;
  box-sizing: border-box;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
}
.cards .water {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.04, 0.93, 0.76, 0.98);
  background: linear-gradient(233.81deg, #7DE7FE 4.14%, rgba(87, 255, 174, 0) 112.07%);
}
.cards .water::after {
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cards .water.active-state {
  transform: scale(0.93);
  transition: 0.3s cubic-bezier(0.92, 0.01, 1, 0.9) !important;
}
.cards .water .zPlane {
  content: '';
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cards .water span {
  color: #73bcc5;
  font-weight: 900;
  font-size: 26pt;
}
.cards .water .gaugeControl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cards .water .gaugeControl .btn {
  color: #65b7c3;
  background-color: rgba(255, 255, 255, 0.52157);
  border-radius: 10rem;
  width: 2.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  margin: 0.6rem;
  transform: scale(1);
  transition: 0.2s;
  z-index: 4;
  position: relative;
}
.cards .water .gaugeControl .btn::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
}
.cards .water .gaugeControl .gaugeBox {
  color: red;
  align-self: flex-end;
}
.cards .water .gaugeControl .gaugeBox .gauge {
  font-size: 85%;
}
.cards .water .hold {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.cards .water .hold .gauge {
  transform: scale(1);
  font-size: 120%;
}
.cards .water .hold .control {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}
.cards .water .hold .control > div {
  color: #000000b5;
  background-color: #ffffff7a;
  margin: 0.6rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 2.3rem;
  border-radius: 100rem;
  border: 1px #65b7c391 solid;
  position: relative;
  display: flex;
}
.cards .water .hold .control > div .pl {
  color: #87e2be;
  font-size: 2.7rem;
  position: absolute;
  z-index: 4;
  right: 3px;
  top: 50%;
  line-height: 2.7rem;
  transform: translateY(-53%);
}
.cards .water .hold .control > div .pl::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}
.cards .water .hold .control > div .mi {
  color: #f7a1a1;
  font-size: 2.7rem;
  position: absolute;
  z-index: 4;
  left: 6px;
  top: 50%;
  line-height: 2.7rem;
  transform: translateY(-53%);
}
.cards .water .hold .control > div .mi::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}
@keyframes aniScale02 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
