.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.select {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}
.hair::before {
  content: "";
  position: absolute;
  background-color: var(--hair) !important;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 50% 0%;
  transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.hair::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 100%;
  height: 8px;
  top: auto;
  pointer-events: none;
  background: var(--f7-toolbar-bottom-shadow-image);
  transform: translate3d(0, 0, 0);
}
@font-face {
  font-family: 'SF';
  src: url('../static/sf.ttf') format('truetype');
}
#mediaFlag500 {
  color: white;
}
body {
  --green: #5acca8;
  --themeBool: white;
  --waterCardBSH: 0 0 23px -3px #9adae7;
  --mainBg: #F0F6F4;
  --mainBsh: #00ff801c;
  --nameInpBg: #F4F9F7;
  --nameInpBor: rgba(0, 0, 0, 0.06);
  --nameInpC: #32403c;
  --waterCardGrad: linear-gradient(233.81deg, #7DE7FE 4.14%, #dffff0 112.07%);
  --waterPageBg: #e9f3f9;
  --waterPageControlBSh: #0000002e;
  --cupBg: #ffffff96;
  --settingsBg: #fcf4ff;
  --moodCardGrad: linear-gradient(233.81deg, #FFA06A 4.14%, #ffd7c0 112.07%);
  --moodCardBSH: 0 0 23px -3px #ff822e87;
}
body.theme-dark {
  --f7-page-bg-color: var(--day-bg);
  --green: #5acca8;
  --themeBool: black;
  --mainBg: #0e1211;
  --mainBsh: #00ff800a;
  --headerC: #d0cccc;
  --nameInpBg: #171d1b;
  --nameInpBor: #ffffff0d;
  --nameInpC: #b7cbc5;
  --waterCardBSH: 0 0 23px -3px #9adae75e;
  --waterCardGrad: linear-gradient(233.81deg, #7d8cfe 4.14%, #185046 112.07%);
  --waterPageBg: #101518;
  --waterPageControlBSh: #ffffff0d;
  --cupBg: #242e34b5;
  --settingsBg: #0e0811;
  --moodCardGrad: linear-gradient(233.81deg, #FFA06A 4.14%, #ba6f45 112.07%);
  --moodCardBSH: 0 0 23px -3px #ffa35996;
}
body.theme-dark #mediaFlag500 {
  color: black;
}
body {
  --f7-grid-gap: 2rem !important;
  --f7-list-link-pressed-bg-color: transparent !important;
  --f7-dialog-title-font-size: 16pt !important;
  --f7-dialog-font-size: 14pt !important;
}
::selection {
  background: rgba(108, 65, 36, 0.7);
  color: white;
}
::-moz-selection {
  background: rgba(108, 65, 36, 0.7);
  color: white;
}
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #971d2d00;
}
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: rgba(var(--f7-theme-color-rgb), 0.05);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--f7-theme-color-rgb), 0.1);
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  background-color: var(--day-bg);
}
@media (display-mode: standalone) {
  html,
  body {
    overscroll-behavior: contain;
  }
}
strong {
  color: var(--strongColor);
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h2 {
  font-size: 26pt;
  color: var(--hColor);
  margin-top: 1.5em;
}
h4 {
  font-size: 1.5em;
  color: var(--hColor);
  margin-top: 2em;
}
p {
  color: var(--pColor);
  font-size: 19pt;
  line-height: 30px;
  font-weight: 500;
}
@media (min-width: 900px) {
  p {
    margin: 0px;
    font-size: 14pt;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
select {
  cursor: pointer;
}
button {
  height: auto !important;
  padding: 0.2rem !important;
  letter-spacing: 0.4px !important;
}
non {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--nonColor);
  display: inline-block;
}
.mediaFlag500 {
  display: none;
}
@media (min-width: 900px) {
  .mediaFlag500 {
    display: block;
  }
}
.ripple-wave {
  background-color: #00000038;
  z-index: 100;
}
.ripple.overflow-hidden {
  overflow: hidden;
}
.ripple.ripple-dark-white .ripple-wave {
  background-color: rgba(0, 0, 0, 0.068);
}
body.theme-dark .ripple.ripple-dark-white .ripple-wave {
  background-color: #ffffff09;
}
:root {
  --f7-theme-color: #5acca8;
  --f7-theme-color-rgb: 90, 204, 168;
  --f7-theme-color-shade: #3cc197;
  --f7-theme-color-tint: #79d6b8;
}
.ios .notification.modal-in {
  backdrop-filter: blur(6px);
}
.router-transition-f7-circle-forward:after,
.router-transition-f7-circle-backward:after {
  background: transparent;
}
.router-transition-f7-circle-forward .page-next {
  animation-delay: 0ms;
}
.router-transition-f7-circle-backward .page-current {
  animation: f7-circle-current-to-next 500ms forwards;
}
.toast.toast-with-icon .toast-text {
  margin-top: 1rem;
  font-size: 14pt;
}
.toast.toast-center {
  background: linear-gradient(24deg, #00000094 0%, #3d3d3d94 100%);
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.651);
  border-top: 1px #ffffff26 solid;
  border-right: 1px #ffffff26 solid;
  backdrop-filter: blur(7px);
}
.dialog {
  --f7-dialog-width: 80vw !important;
  backdrop-filter: blur(3px);
  max-width: 80vw;
}
@media (min-width: 900px) {
  .dialog {
    --f7-dialog-width: 30vw !important;
  }
}
body[data-blur='blur'] .custom-modal-backdrop,
body[data-blur='blur'] .actions-backdrop,
body[data-blur='blur'] .dialog-backdrop,
body[data-blur='blur'] .popover-backdrop,
body[data-blur='blur'] .popup-backdrop,
body[data-blur='blur'] .preloader-backdrop,
body[data-blur='blur'] .sheet-backdrop,
body[data-blur='blur'] .fab-backdrop {
  backdrop-filter: blur(3px) saturate(0.7) brightness(0.8);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
body[data-blur='noblur'] .custom-modal-backdrop,
body[data-blur='noblur'] .actions-backdrop,
body[data-blur='noblur'] .dialog-backdrop,
body[data-blur='noblur'] .popover-backdrop,
body[data-blur='noblur'] .popup-backdrop,
body[data-blur='noblur'] .preloader-backdrop,
body[data-blur='noblur'] .sheet-backdrop,
body[data-blur='noblur'] .fab-backdrop {
  backdrop-filter: saturate(0.4) brightness(0.7);
}
@media (min-width: 900px) {
  .block-strong {
    max-width: 60rem;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
  }
}
.range-knob {
  cursor: e-resize;
}
.curPencil {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 56 56'%3E%3Chead xmlns=''/%3E%3Cpath stroke='black' stroke-width='1' fill='white' d='M 43.2930 16.9258 L 45.6601 14.6055 C 46.8555 13.4101 46.9023 12.1211 45.8477 11.0430 L 45.0508 10.2461 C 43.9961 9.1914 42.7070 9.3086 41.5117 10.4570 L 39.1445 12.8008 Z M 15.6601 44.4883 L 41.2305 18.9414 L 37.1289 14.8164 L 11.5352 40.3867 L 9.3086 45.5898 C 9.0977 46.1523 9.6836 46.8086 10.2461 46.5742 Z'/%3E%3C/svg%3E") 16 16, pointer !important;
}
.curPlus {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 56 56'%3E%3Cpath stroke='black' stroke-width='1' fill='white' d='M 27.9999 51.9063 C 41.0546 51.9063 51.9063 41.0781 51.9063 28 C 51.9063 14.9453 41.0312 4.0937 27.9765 4.0937 C 14.8983 4.0937 4.0937 14.9453 4.0937 28 C 4.0937 41.0781 14.9218 51.9063 27.9999 51.9063 Z M 27.9999 47.9219 C 16.9374 47.9219 8.1014 39.0625 8.1014 28 C 8.1014 16.9609 16.9140 8.0781 27.9765 8.0781 C 39.0155 8.0781 47.8983 16.9609 47.9219 28 C 47.9454 39.0625 39.0390 47.9219 27.9999 47.9219 Z M 27.9296 39.1328 C 29.1952 39.1328 29.9452 38.2656 29.9452 36.9063 L 29.9452 29.9688 L 37.2812 29.9688 C 38.5936 29.9688 39.5077 29.2890 39.5077 28.0469 C 39.5077 26.7812 38.6405 26.0547 37.2812 26.0547 L 29.9452 26.0547 L 29.9452 18.6953 C 29.9452 17.3125 29.1952 16.4688 27.9296 16.4688 C 26.6874 16.4688 26.0077 17.3594 26.0077 18.6953 L 26.0077 26.0547 L 18.6952 26.0547 C 17.3124 26.0547 16.4452 26.7812 16.4452 28.0469 C 16.4452 29.2890 17.3827 29.9688 18.6952 29.9688 L 26.0077 29.9688 L 26.0077 36.9063 C 26.0077 38.2188 26.6874 39.1328 27.9296 39.1328 Z'/%3E%3C/svg%3E") 16 16, pointer !important;
}
.curRight {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'  viewBox='0 0 417 417' %3E%3Cpath class='st0' d='M117.3,138.2l-1.5,169c0,0,13.8,86.8,79.1,89.4s99.6-37.8,108.3-75.6s8.2-87.3-4.6-87.3s-94-123.1-98-132.8 C196.4,91.2,117.3,138.2,117.3,138.2z' fill='white'/%3E%3Cpath class='st1' d='M214.8,102.2c-0.6,0,0,138.9,0,138.9s20.7,0.3,42.6-2.4c19.3-2.3,39.3-7.3,48.6-11.2 c0.5-0.9,6.6-42.7-16.7-93.7C279.6,119,254.4,105.5,214.8,102.2z' fill='%237F6C6C'/%3E%3Cg%3E%3Cpath d='M218.8,87.6c-2.9,0.1-12.9-0.5-23.6,0.5c-50,4.7-96.2,32.1-96.2,80.3V304c0,59.9,48.7,108.6,108.6,108.6 c59.9,0,108.6-48.7,108.6-108.6V168.4C316.2,115.7,267.2,90.2,218.8,87.6z M119.6,168.4c0-35.8,38.9-56.6,79.2-60v125 c-36.8-1.9-66.6-10.2-79.2-14.3V168.4z M295.8,304c0,48.6-39.5,88.1-88.1,88.1c-48.6,0-88.1-39.5-88.1-88.1v-63.4 c18.2,5.5,52.6,13.9,93.2,13.9c26,0,54.6-3.5,83.1-13.3L295.8,304L295.8,304z M295.8,219.4c-25.8,9.9-52.2,13.7-76.6,14.3V108.1 c39.4,2.4,76.6,21.3,76.6,60.3V219.4z'/%3E%3C/g%3E%3C/svg%3E") 16 16, pointer !important;
}
.toast.error {
  box-shadow: 0px 2px 14px 5px #ff000017;
}
@media (min-width: 900px) {
  .toast.error {
    box-shadow: -7px 6px 14px -8px #ff000061;
  }
}
.toast.success {
  box-shadow: 0px 2px 14px 5px #2dff0012;
}
@media (min-width: 900px) {
  .toast.success {
    box-shadow: -7px 6px 14px -8px #41ff4261;
  }
}
.tooltip.error {
  box-shadow: 0 0 11px #ff00002f;
}
.popup {
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
}
.block-strong {
  border-radius: 15px !important;
}
li.togglee {
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: auto;
}
li.togglee label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
li.togglee label .disc {
  display: inline-flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 150%;
  max-width: 56vw;
  width: 100%;
}
li.togglee label .disc .down {
  opacity: 0.6;
  font-weight: 400;
  width: 100%;
  white-space: break-spaces;
}
li.togglee label #prew {
  flex-shrink: 124;
  text-align: right;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  clip-path: polygon(100% 50%, 100% 54.4%, 100% 56.7%, 100% 58.5%, 99.9% 60.1%, 99.9% 61.6%, 99.8% 62.9%, 99.8% 64.1%, 99.7% 65.3%, 99.6% 66.4%, 99.5% 67.5%, 99.4% 68.5%, 99.3% 69.5%, 99.2% 70.4%, 99.1% 71.3%, 99% 72.2%, 98.8% 73.1%, 98.7% 73.9%, 98.5% 74.7%, 98.3% 75.5%, 98.2% 76.3%, 98% 77%, 97.8% 77.7%, 97.6% 78.5%, 97.4% 79.1%, 97.1% 79.8%, 96.9% 80.5%, 96.7% 81.1%, 96.4% 81.8%, 96.1% 82.4%, 95.9% 83%, 95.6% 83.6%, 95.3% 84.2%, 95% 84.7%, 94.7% 85.3%, 94.4% 85.8%, 94% 86.3%, 93.7% 86.9%, 93.3% 87.4%, 93% 87.9%, 92.6% 88.4%, 92.2% 88.8%, 91.8% 89.3%, 91.4% 89.7%, 91% 90.2%, 90.6% 90.6%, 90.2% 91%, 89.7% 91.4%, 89.3% 91.8%, 88.8% 92.2%, 88.4% 92.6%, 87.9% 93%, 87.4% 93.3%, 86.9% 93.7%, 86.3% 94%, 85.8% 94.4%, 85.3% 94.7%, 84.7% 95%, 84.2% 95.3%, 83.6% 95.6%, 83% 95.9%, 82.4% 96.1%, 81.8% 96.4%, 81.1% 96.7%, 80.5% 96.9%, 79.8% 97.1%, 79.1% 97.4%, 78.5% 97.6%, 77.7% 97.8%, 77% 98%, 76.3% 98.2%, 75.5% 98.3%, 74.7% 98.5%, 73.9% 98.7%, 73.1% 98.8%, 72.2% 99%, 71.3% 99.1%, 70.4% 99.2%, 69.5% 99.3%, 68.5% 99.4%, 67.5% 99.5%, 66.4% 99.6%, 65.3% 99.7%, 64.1% 99.8%, 62.9% 99.8%, 61.6% 99.9%, 60.1% 99.9%, 58.5% 100%, 56.7% 100%, 54.4% 100%, 50% 100%, 45.6% 100%, 43.3% 100%, 41.5% 100%, 39.9% 99.9%, 38.4% 99.9%, 37.1% 99.8%, 35.9% 99.8%, 34.7% 99.7%, 33.6% 99.6%, 32.5% 99.5%, 31.5% 99.4%, 30.5% 99.3%, 29.6% 99.2%, 28.7% 99.1%, 27.8% 99%, 26.9% 98.8%, 26.1% 98.7%, 25.3% 98.5%, 24.5% 98.3%, 23.7% 98.2%, 23% 98%, 22.3% 97.8%, 21.5% 97.6%, 20.9% 97.4%, 20.2% 97.1%, 19.5% 96.9%, 18.9% 96.7%, 18.2% 96.4%, 17.6% 96.1%, 17% 95.9%, 16.4% 95.6%, 15.8% 95.3%, 15.3% 95%, 14.7% 94.7%, 14.2% 94.4%, 13.7% 94%, 13.1% 93.7%, 12.6% 93.3%, 12.1% 93%, 11.6% 92.6%, 11.2% 92.2%, 10.7% 91.8%, 10.3% 91.4%, 9.8% 91%, 9.4% 90.6%, 9% 90.2%, 8.6% 89.7%, 8.2% 89.3%, 7.8% 88.8%, 7.4% 88.4%, 7% 87.9%, 6.7% 87.4%, 6.3% 86.9%, 6% 86.3%, 5.6% 85.8%, 5.3% 85.3%, 5% 84.7%, 4.7% 84.2%, 4.4% 83.6%, 4.1% 83%, 3.9% 82.4%, 3.6% 81.8%, 3.3% 81.1%, 3.1% 80.5%, 2.9% 79.8%, 2.6% 79.1%, 2.4% 78.5%, 2.2% 77.7%, 2% 77%, 1.8% 76.3%, 1.7% 75.5%, 1.5% 74.7%, 1.3% 73.9%, 1.2% 73.1%, 1% 72.2%, 0.9% 71.3%, 0.8% 70.4%, 0.7% 69.5%, 0.6% 68.5%, 0.5% 67.5%, 0.4% 66.4%, 0.3% 65.3%, 0.2% 64.1%, 0.2% 62.9%, 0.1% 61.6%, 0.1% 60.1%, 0% 58.5%, 0% 56.7%, 0% 54.4%, 0% 50%, 0% 45.6%, 0% 43.3%, 0% 41.5%, 0.1% 39.9%, 0.1% 38.4%, 0.2% 37.1%, 0.2% 35.9%, 0.3% 34.7%, 0.4% 33.6%, 0.5% 32.5%, 0.6% 31.5%, 0.7% 30.5%, 0.8% 29.6%, 0.9% 28.7%, 1% 27.8%, 1.2% 26.9%, 1.3% 26.1%, 1.5% 25.3%, 1.7% 24.5%, 1.8% 23.7%, 2% 23%, 2.2% 22.3%, 2.4% 21.5%, 2.6% 20.9%, 2.9% 20.2%, 3.1% 19.5%, 3.3% 18.9%, 3.6% 18.2%, 3.9% 17.6%, 4.1% 17%, 4.4% 16.4%, 4.7% 15.8%, 5% 15.3%, 5.3% 14.7%, 5.6% 14.2%, 6% 13.7%, 6.3% 13.1%, 6.7% 12.6%, 7% 12.1%, 7.4% 11.6%, 7.8% 11.2%, 8.2% 10.7%, 8.6% 10.3%, 9% 9.8%, 9.4% 9.4%, 9.8% 9%, 10.3% 8.6%, 10.7% 8.2%, 11.2% 7.8%, 11.6% 7.4%, 12.1% 7%, 12.6% 6.7%, 13.1% 6.3%, 13.7% 6%, 14.2% 5.6%, 14.7% 5.3%, 15.3% 5%, 15.8% 4.7%, 16.4% 4.4%, 17% 4.1%, 17.6% 3.9%, 18.2% 3.6%, 18.9% 3.3%, 19.5% 3.1%, 20.2% 2.9%, 20.9% 2.6%, 21.5% 2.4%, 22.3% 2.2%, 23% 2%, 23.7% 1.8%, 24.5% 1.7%, 25.3% 1.5%, 26.1% 1.3%, 26.9% 1.2%, 27.8% 1%, 28.7% 0.9%, 29.6% 0.8%, 30.5% 0.7%, 31.5% 0.6%, 32.5% 0.5%, 33.6% 0.4%, 34.7% 0.3%, 35.9% 0.2%, 37.1% 0.2%, 38.4% 0.1%, 39.9% 0.1%, 41.5% 0%, 43.3% 0%, 45.6% 0%, 50% 0%, 54.4% 0%, 56.7% 0%, 58.5% 0%, 60.1% 0.1%, 61.6% 0.1%, 62.9% 0.2%, 64.1% 0.2%, 65.3% 0.3%, 66.4% 0.4%, 67.5% 0.5%, 68.5% 0.6%, 69.5% 0.7%, 70.4% 0.8%, 71.3% 0.9%, 72.2% 1%, 73.1% 1.2%, 73.9% 1.3%, 74.7% 1.5%, 75.5% 1.7%, 76.3% 1.8%, 77% 2%, 77.7% 2.2%, 78.5% 2.4%, 79.1% 2.6%, 79.8% 2.9%, 80.5% 3.1%, 81.1% 3.3%, 81.8% 3.6%, 82.4% 3.9%, 83% 4.1%, 83.6% 4.4%, 84.2% 4.7%, 84.7% 5%, 85.3% 5.3%, 85.8% 5.6%, 86.3% 6%, 86.9% 6.3%, 87.4% 6.7%, 87.9% 7%, 88.4% 7.4%, 88.8% 7.8%, 89.3% 8.2%, 89.7% 8.6%, 90.2% 9%, 90.6% 9.4%, 91% 9.8%, 91.4% 10.3%, 91.8% 10.7%, 92.2% 11.2%, 92.6% 11.6%, 93% 12.1%, 93.3% 12.6%, 93.7% 13.1%, 94% 13.7%, 94.4% 14.2%, 94.7% 14.7%, 95% 15.3%, 95.3% 15.8%, 95.6% 16.4%, 95.9% 17%, 96.1% 17.6%, 96.4% 18.2%, 96.7% 18.9%, 96.9% 19.5%, 97.1% 20.2%, 97.4% 20.9%, 97.6% 21.5%, 97.8% 22.3%, 98% 23%, 98.2% 23.7%, 98.3% 24.5%, 98.5% 25.3%, 98.7% 26.1%, 98.8% 26.9%, 99% 27.8%, 99.1% 28.7%, 99.2% 29.6%, 99.3% 30.5%, 99.4% 31.5%, 99.5% 32.5%, 99.6% 33.6%, 99.7% 34.7%, 99.8% 35.9%, 99.8% 37.1%, 99.9% 38.4%, 99.9% 39.9%, 100% 41.5%, 100% 43.3%, 100% 45.6%, 100% 0);
}
.pointer {
  cursor: pointer;
}
@media (prefers-color-scheme: light) {
  .simple-list li:after,
  .links-list a:after,
  .list .item-inner:after {
    background-color: #00000012 !important;
  }
}
.actions-button-text {
  color: var(--f7-block-strong-text-color);
}
.modal-in.action-center {
  transform: translate3d(0, calc(-50vh + 50%), 0);
}
.menuTooltip {
  left: 5rem !important;
  top: 10% !important;
  background-color: #2c2c2c;
  font-size: 15pt !important;
  padding: 0.7rem !important;
  filter: drop-shadow(0px 6px 14px #00000096);
}
.menuTooltip::before {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #2c2c2c;
  left: 0;
}
.menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: linear-gradient(270deg, #77b7ff69 -168.67%, #c4c4c400 162.05%, #c4c4c400 162.05%);
  z-index: 5001;
  border-radius: 0rem 7rem 7rem 0rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.menu .glab {
  font-size: 150%;
}
.menu .items {
  margin-top: 1rem;
}
.menu .items .it {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.7;
  margin: 3rem auto;
  filter: drop-shadow(0px 0px 0px #81b989b3);
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 0.4rem;
}
.menu .items .it:hover {
  filter: drop-shadow(0px 7px 6px #81b989b3);
}
.menu .items .itc {
  position: relative;
  display: block !important;
}
.menu .items .itc.tab-link-active .it {
  filter: drop-shadow(0px 7px 6px #81b989b3);
}
.menu .items .home.it {
  background: linear-gradient(223.03deg, #83FFAD -19.09%, #ffdead 132.84%);
}
.menu .items .note.it {
  background: linear-gradient(270deg, #83FFAD -73.42%, #ffdead 135.6%);
  transform: rotate(-45deg);
}
.menu .items .settings.it {
  background: linear-gradient(223.03deg, #83FFAD -19.09%, #ffdead 132.84%);
  border-radius: 21.5px;
}
.meet {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10600000000000000000000;
  left: 0;
  top: 0;
  background-color: var(--mainBg);
}
.border-squircle25-25 {
  clip-path: polygon(100% 50%, 100% 68.2%, 100% 71.6%, 100% 73.9%, 100% 75.7%, 100% 77.2%, 99.9% 78.4%, 99.9% 79.5%, 99.9% 80.5%, 99.8% 81.4%, 99.8% 82.3%, 99.8% 83%, 99.7% 83.8%, 99.7% 84.4%, 99.6% 85.1%, 99.6% 85.7%, 99.5% 86.2%, 99.4% 86.8%, 99.4% 87.3%, 99.3% 87.8%, 99.2% 88.2%, 99.1% 88.7%, 99.1% 89.1%, 99% 89.5%, 98.9% 89.9%, 98.8% 90.3%, 98.7% 90.7%, 98.6% 91%, 98.5% 91.4%, 98.4% 91.7%, 98.2% 92%, 98.1% 92.4%, 98% 92.7%, 97.8% 93%, 97.7% 93.2%, 97.6% 93.5%, 97.4% 93.8%, 97.3% 94%, 97.1% 94.3%, 96.9% 94.5%, 96.8% 94.8%, 96.6% 95%, 96.4% 95.2%, 96.2% 95.4%, 96% 95.6%, 95.9% 95.9%, 95.6% 96%, 95.4% 96.2%, 95.2% 96.4%, 95% 96.6%, 94.8% 96.8%, 94.5% 96.9%, 94.3% 97.1%, 94% 97.3%, 93.8% 97.4%, 93.5% 97.6%, 93.2% 97.7%, 93% 97.8%, 92.7% 98%, 92.4% 98.1%, 92% 98.2%, 91.7% 98.4%, 91.4% 98.5%, 91% 98.6%, 90.7% 98.7%, 90.3% 98.8%, 89.9% 98.9%, 89.5% 99%, 89.1% 99.1%, 88.7% 99.1%, 88.2% 99.2%, 87.8% 99.3%, 87.3% 99.4%, 86.8% 99.4%, 86.2% 99.5%, 85.7% 99.6%, 85.1% 99.6%, 84.4% 99.7%, 83.8% 99.7%, 83% 99.8%, 82.3% 99.8%, 81.4% 99.8%, 80.5% 99.9%, 79.5% 99.9%, 78.4% 99.9%, 77.2% 100%, 75.7% 100%, 73.9% 100%, 71.6% 100%, 68.2% 100%, 50% 100%, 31.8% 100%, 28.4% 100%, 26.1% 100%, 24.3% 100%, 22.8% 100%, 21.6% 99.9%, 20.5% 99.9%, 19.5% 99.9%, 18.6% 99.8%, 17.7% 99.8%, 17% 99.8%, 16.2% 99.7%, 15.6% 99.7%, 14.9% 99.6%, 14.3% 99.6%, 13.8% 99.5%, 13.2% 99.4%, 12.7% 99.4%, 12.2% 99.3%, 11.8% 99.2%, 11.3% 99.1%, 10.9% 99.1%, 10.5% 99%, 10.1% 98.9%, 9.7% 98.8%, 9.3% 98.7%, 9% 98.6%, 8.6% 98.5%, 8.3% 98.4%, 8% 98.2%, 7.6% 98.1%, 7.3% 98%, 7% 97.8%, 6.8% 97.7%, 6.5% 97.6%, 6.2% 97.4%, 6% 97.3%, 5.7% 97.1%, 5.5% 96.9%, 5.2% 96.8%, 5% 96.6%, 4.8% 96.4%, 4.6% 96.2%, 4.4% 96%, 4.1% 95.9%, 4% 95.6%, 3.8% 95.4%, 3.6% 95.2%, 3.4% 95%, 3.2% 94.8%, 3.1% 94.5%, 2.9% 94.3%, 2.7% 94%, 2.6% 93.8%, 2.4% 93.5%, 2.3% 93.2%, 2.2% 93%, 2% 92.7%, 1.9% 92.4%, 1.8% 92%, 1.6% 91.7%, 1.5% 91.4%, 1.4% 91%, 1.3% 90.7%, 1.2% 90.3%, 1.1% 89.9%, 1% 89.5%, 0.9% 89.1%, 0.9% 88.7%, 0.8% 88.2%, 0.7% 87.8%, 0.6% 87.3%, 0.6% 86.8%, 0.5% 86.2%, 0.4% 85.7%, 0.4% 85.1%, 0.3% 84.4%, 0.3% 83.8%, 0.2% 83%, 0.2% 82.3%, 0.2% 81.4%, 0.1% 80.5%, 0.1% 79.5%, 0.1% 78.4%, 0% 77.2%, 0% 75.7%, 0% 73.9%, 0% 71.6%, 0% 68.2%, 0% 50%, 0% 31.8%, 0% 28.4%, 0% 26.1%, 0% 24.3%, 0% 22.8%, 0.1% 21.6%, 0.1% 20.5%, 0.1% 19.5%, 0.2% 18.6%, 0.2% 17.7%, 0.2% 17%, 0.3% 16.2%, 0.3% 15.6%, 0.4% 14.9%, 0.4% 14.3%, 0.5% 13.8%, 0.6% 13.2%, 0.6% 12.7%, 0.7% 12.2%, 0.8% 11.8%, 0.9% 11.3%, 0.9% 10.9%, 1% 10.5%, 1.1% 10.1%, 1.2% 9.7%, 1.3% 9.3%, 1.4% 9%, 1.5% 8.6%, 1.6% 8.3%, 1.8% 8%, 1.9% 7.6%, 2% 7.3%, 2.2% 7%, 2.3% 6.8%, 2.4% 6.5%, 2.6% 6.2%, 2.7% 6%, 2.9% 5.7%, 3.1% 5.5%, 3.2% 5.2%, 3.4% 5%, 3.6% 4.8%, 3.8% 4.6%, 4% 4.4%, 4.1% 4.1%, 4.4% 4%, 4.6% 3.8%, 4.8% 3.6%, 5% 3.4%, 5.2% 3.2%, 5.5% 3.1%, 5.7% 2.9%, 6% 2.7%, 6.2% 2.6%, 6.5% 2.4%, 6.8% 2.3%, 7% 2.2%, 7.3% 2%, 7.6% 1.9%, 8% 1.8%, 8.3% 1.6%, 8.6% 1.5%, 9% 1.4%, 9.3% 1.3%, 9.7% 1.2%, 10.1% 1.1%, 10.5% 1%, 10.9% 0.9%, 11.3% 0.9%, 11.8% 0.8%, 12.2% 0.7%, 12.7% 0.6%, 13.2% 0.6%, 13.8% 0.5%, 14.3% 0.4%, 14.9% 0.4%, 15.6% 0.3%, 16.2% 0.3%, 17% 0.2%, 17.7% 0.2%, 18.6% 0.2%, 19.5% 0.1%, 20.5% 0.1%, 21.6% 0.1%, 22.8% 0%, 24.3% 0%, 26.1% 0%, 28.4% 0%, 31.8% 0%, 50% 0%, 68.2% 0%, 71.6% 0%, 73.9% 0%, 75.7% 0%, 77.2% 0%, 78.4% 0.1%, 79.5% 0.1%, 80.5% 0.1%, 81.4% 0.2%, 82.3% 0.2%, 83% 0.2%, 83.8% 0.3%, 84.4% 0.3%, 85.1% 0.4%, 85.7% 0.4%, 86.2% 0.5%, 86.8% 0.6%, 87.3% 0.6%, 87.8% 0.7%, 88.2% 0.8%, 88.7% 0.9%, 89.1% 0.9%, 89.5% 1%, 89.9% 1.1%, 90.3% 1.2%, 90.7% 1.3%, 91% 1.4%, 91.4% 1.5%, 91.7% 1.6%, 92% 1.8%, 92.4% 1.9%, 92.7% 2%, 93% 2.2%, 93.2% 2.3%, 93.5% 2.4%, 93.8% 2.6%, 94% 2.7%, 94.3% 2.9%, 94.5% 3.1%, 94.8% 3.2%, 95% 3.4%, 95.2% 3.6%, 95.4% 3.8%, 95.6% 4%, 95.9% 4.1%, 96% 4.4%, 96.2% 4.6%, 96.4% 4.8%, 96.6% 5%, 96.8% 5.2%, 96.9% 5.5%, 97.1% 5.7%, 97.3% 6%, 97.4% 6.2%, 97.6% 6.5%, 97.7% 6.8%, 97.8% 7%, 98% 7.3%, 98.1% 7.6%, 98.2% 8%, 98.4% 8.3%, 98.5% 8.6%, 98.6% 9%, 98.7% 9.3%, 98.8% 9.7%, 98.9% 10.1%, 99% 10.5%, 99.1% 10.9%, 99.1% 11.3%, 99.2% 11.8%, 99.3% 12.2%, 99.4% 12.7%, 99.4% 13.2%, 99.5% 13.8%, 99.6% 14.3%, 99.6% 14.9%, 99.7% 15.6%, 99.7% 16.2%, 99.8% 17%, 99.8% 17.7%, 99.8% 18.6%, 99.9% 19.5%, 99.9% 20.5%, 99.9% 21.6%, 100% 22.8%, 100% 24.3%, 100% 26.1%, 100% 28.4%, 100% 31.8%, 100% 0);
}
.page[data-name='home'] {
  background-color: var(--mainBg);
  box-shadow: inset -1px 182px 94px -135px var(--mainBsh);
}
.header {
  padding: 1.5rem 2rem;
  font-weight: 900;
  font-size: 23pt;
  color: var(--headerC);
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}
@media (min-width: 900px) {
  .header .greet {
    display: inline-block;
  }
}
.header .ask {
  font-weight: 400;
  font-size: 16pt;
  margin-top: 1rem;
  opacity: 0.75;
}
.header .namePrompt {
  display: none;
  opacity: 0;
  transition: 0.5s ease;
  position: relative;
}
@media (min-width: 900px) {
  .header .namePrompt {
    width: 40%;
    max-width: 22rem;
  }
}
.header .namePrompt input {
  background-color: var(--nameInpBg);
  border: 1px solid var(--nameInpBor);
  width: 100%;
  text-align: center;
  padding: 0.8rem 1rem;
  border-radius: 1000rem;
  margin: 1rem 0rem;
  font-size: 14pt;
  font-weight: 500;
  color: var(--nameInpC);
}
.header .namePrompt .error {
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  color: #d74646;
}
@media (prefers-color-scheme: light) {
  .header .namePrompt .confirm {
    border: 1px #00000017 solid;
    box-shadow: -9px 0 15px -2px #00000014;
    color: #3e493fbd;
    background: #0000;
  }
}
.header .weather {
  height: 35pt;
  filter: brightness(1.1);
  cursor: pointer;
}
.header .weather.down {
  padding-top: 0.6rem;
}
@media (min-width: 900px) {
  .header .weather.down {
    margin-bottom: -1rem;
  }
}
.header .weatherUnder {
  height: 35pt;
  position: absolute;
  filter: brightness(1.1) blur(10px);
}
body.theme-dark .header .weatherUnder {
  opacity: 0.4;
}
.header .weatherUnder.down {
  padding-top: 0.6rem;
}
@media (min-width: 900px) {
  .header .weatherUnder.down {
    margin-bottom: -1rem;
  }
}
.header .weatherBlock {
  color: #000;
}
@media (min-width: 900px) {
  .header .weatherBlock {
    display: inline-block;
  }
}
.header img.weather {
  cursor: default;
}
.cards {
  padding: 1rem;
}
@media (min-width: 900px) {
  .cards {
    display: flex;
    justify-content: space-around;
  }
}
.cards .cardd {
  padding: 2rem;
  background-color: blue;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 0rem;
  clip-path: polygon(100% 50%, 100% 64.8%, 100% 68.3%, 100% 70.6%, 100% 72.5%, 100% 74%, 99.9% 75.4%, 99.9% 76.6%, 99.9% 77.7%, 99.9% 78.7%, 99.8% 79.6%, 99.8% 80.4%, 99.8% 81.2%, 99.7% 82%, 99.7% 82.7%, 99.7% 83.3%, 99.6% 84%, 99.6% 84.6%, 99.5% 85.2%, 99.4% 85.7%, 99.4% 86.2%, 99.3% 86.8%, 99.2% 87.2%, 99.2% 87.7%, 99.1% 88.2%, 99% 88.6%, 98.9% 89%, 98.9% 89.5%, 98.8% 89.9%, 98.7% 90.2%, 98.6% 90.6%, 98.5% 91%, 98.4% 91.3%, 98.3% 91.7%, 98.2% 92%, 98% 92.3%, 97.9% 92.6%, 97.8% 92.9%, 97.7% 93.2%, 97.5% 93.5%, 97.4% 93.8%, 97.3% 94.1%, 97.1% 94.3%, 97% 94.6%, 96.8% 94.8%, 96.7% 95.1%, 96.5% 95.3%, 96.3% 95.5%, 96.1% 95.7%, 96% 96%, 95.8% 96.2%, 95.6% 96.4%, 95.4% 96.6%, 95.2% 96.7%, 95% 96.9%, 94.7% 97.1%, 94.5% 97.3%, 94.3% 97.4%, 94% 97.6%, 93.8% 97.7%, 93.5% 97.9%, 93.3% 98%, 93% 98.2%, 92.7% 98.3%, 92.4% 98.4%, 92.1% 98.5%, 91.8% 98.7%, 91.4% 98.8%, 91.1% 98.9%, 90.7% 99%, 90.3% 99.1%, 89.9% 99.2%, 89.5% 99.3%, 89.1% 99.3%, 88.6% 99.4%, 88.2% 99.5%, 87.6% 99.5%, 87.1% 99.6%, 86.5% 99.7%, 85.9% 99.7%, 85.2% 99.8%, 84.5% 99.8%, 83.7% 99.9%, 82.8% 99.9%, 81.8% 99.9%, 80.7% 99.9%, 79.4% 100%, 77.7% 100%, 75.6% 100%, 72.3% 100%, 50% 100%, 27.7% 100%, 24.4% 100%, 22.3% 100%, 20.6% 100%, 19.3% 99.9%, 18.2% 99.9%, 17.2% 99.9%, 16.3% 99.9%, 15.5% 99.8%, 14.8% 99.8%, 14.1% 99.7%, 13.5% 99.7%, 12.9% 99.6%, 12.4% 99.5%, 11.8% 99.5%, 11.4% 99.4%, 10.9% 99.3%, 10.5% 99.3%, 10.1% 99.2%, 9.7% 99.1%, 9.3% 99%, 8.9% 98.9%, 8.6% 98.8%, 8.2% 98.7%, 7.9% 98.5%, 7.6% 98.4%, 7.3% 98.3%, 7% 98.2%, 6.7% 98%, 6.5% 97.9%, 6.2% 97.7%, 6% 97.6%, 5.7% 97.4%, 5.5% 97.3%, 5.3% 97.1%, 5% 96.9%, 4.8% 96.7%, 4.6% 96.6%, 4.4% 96.4%, 4.2% 96.2%, 4% 96%, 3.9% 95.7%, 3.7% 95.5%, 3.5% 95.3%, 3.3% 95.1%, 3.2% 94.8%, 3% 94.6%, 2.9% 94.3%, 2.7% 94.1%, 2.6% 93.8%, 2.5% 93.5%, 2.3% 93.2%, 2.2% 92.9%, 2.1% 92.6%, 2% 92.3%, 1.8% 92%, 1.7% 91.7%, 1.6% 91.3%, 1.5% 91%, 1.4% 90.6%, 1.3% 90.2%, 1.2% 89.9%, 1.1% 89.5%, 1.1% 89%, 1% 88.6%, 0.9% 88.2%, 0.8% 87.7%, 0.8% 87.2%, 0.7% 86.8%, 0.6% 86.2%, 0.6% 85.7%, 0.5% 85.2%, 0.4% 84.6%, 0.4% 84%, 0.3% 83.3%, 0.3% 82.7%, 0.3% 82%, 0.2% 81.2%, 0.2% 80.4%, 0.2% 79.6%, 0.1% 78.7%, 0.1% 77.7%, 0.1% 76.6%, 0.1% 75.4%, 0% 74%, 0% 72.5%, 0% 70.6%, 0% 68.3%, 0% 64.8%, 0% 50%, 0% 35.2%, 0% 31.7%, 0% 29.4%, 0% 27.5%, 0% 26%, 0.1% 24.6%, 0.1% 23.4%, 0.1% 22.3%, 0.1% 21.3%, 0.2% 20.4%, 0.2% 19.6%, 0.2% 18.8%, 0.3% 18%, 0.3% 17.3%, 0.3% 16.7%, 0.4% 16%, 0.4% 15.4%, 0.5% 14.8%, 0.6% 14.3%, 0.6% 13.8%, 0.7% 13.2%, 0.8% 12.8%, 0.8% 12.3%, 0.9% 11.8%, 1% 11.4%, 1.1% 11%, 1.1% 10.5%, 1.2% 10.1%, 1.3% 9.8%, 1.4% 9.4%, 1.5% 9%, 1.6% 8.7%, 1.7% 8.3%, 1.8% 8%, 2% 7.7%, 2.1% 7.4%, 2.2% 7.1%, 2.3% 6.8%, 2.5% 6.5%, 2.6% 6.2%, 2.7% 5.9%, 2.9% 5.7%, 3% 5.4%, 3.2% 5.2%, 3.3% 4.9%, 3.5% 4.7%, 3.7% 4.5%, 3.9% 4.3%, 4% 4%, 4.2% 3.8%, 4.4% 3.6%, 4.6% 3.4%, 4.8% 3.3%, 5% 3.1%, 5.3% 2.9%, 5.5% 2.7%, 5.7% 2.6%, 6% 2.4%, 6.2% 2.3%, 6.5% 2.1%, 6.7% 2%, 7% 1.8%, 7.3% 1.7%, 7.6% 1.6%, 7.9% 1.5%, 8.2% 1.3%, 8.6% 1.2%, 8.9% 1.1%, 9.3% 1%, 9.7% 0.9%, 10.1% 0.8%, 10.5% 0.7%, 10.9% 0.7%, 11.4% 0.6%, 11.8% 0.5%, 12.4% 0.5%, 12.9% 0.4%, 13.5% 0.3%, 14.1% 0.3%, 14.8% 0.2%, 15.5% 0.2%, 16.3% 0.1%, 17.2% 0.1%, 18.2% 0.1%, 19.3% 0.1%, 20.6% 0%, 22.3% 0%, 24.4% 0%, 27.7% 0%, 50% 0%, 72.3% 0%, 75.6% 0%, 77.7% 0%, 79.4% 0%, 80.7% 0.1%, 81.8% 0.1%, 82.8% 0.1%, 83.7% 0.1%, 84.5% 0.2%, 85.2% 0.2%, 85.9% 0.3%, 86.5% 0.3%, 87.1% 0.4%, 87.6% 0.5%, 88.2% 0.5%, 88.6% 0.6%, 89.1% 0.7%, 89.5% 0.7%, 89.9% 0.8%, 90.3% 0.9%, 90.7% 1%, 91.1% 1.1%, 91.4% 1.2%, 91.8% 1.3%, 92.1% 1.5%, 92.4% 1.6%, 92.7% 1.7%, 93% 1.8%, 93.3% 2%, 93.5% 2.1%, 93.8% 2.3%, 94% 2.4%, 94.3% 2.6%, 94.5% 2.7%, 94.7% 2.9%, 95% 3.1%, 95.2% 3.3%, 95.4% 3.4%, 95.6% 3.6%, 95.8% 3.8%, 96% 4%, 96.1% 4.3%, 96.3% 4.5%, 96.5% 4.7%, 96.7% 4.9%, 96.8% 5.2%, 97% 5.4%, 97.1% 5.7%, 97.3% 5.9%, 97.4% 6.2%, 97.5% 6.5%, 97.7% 6.8%, 97.8% 7.1%, 97.9% 7.4%, 98% 7.7%, 98.2% 8%, 98.3% 8.3%, 98.4% 8.7%, 98.5% 9%, 98.6% 9.4%, 98.7% 9.8%, 98.8% 10.1%, 98.9% 10.5%, 98.9% 11%, 99% 11.4%, 99.1% 11.8%, 99.2% 12.3%, 99.2% 12.8%, 99.3% 13.2%, 99.4% 13.8%, 99.4% 14.3%, 99.5% 14.8%, 99.6% 15.4%, 99.6% 16%, 99.7% 16.7%, 99.7% 17.3%, 99.7% 18%, 99.8% 18.8%, 99.8% 19.6%, 99.8% 20.4%, 99.9% 21.3%, 99.9% 22.3%, 99.9% 23.4%, 99.9% 24.6%, 100% 26%, 100% 27.5%, 100% 29.4%, 100% 31.7%, 100% 35.2%, 100% 0);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
@media (min-width: 480px) {
  .cards .cardd {
    border-radius: 3rem;
    clip-path: none;
    padding: 3rem;
  }
}
.gauge {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  display: block;
}
.gaugeCont {
  position: relative;
}
.color-picker .page-content {
  padding-left: 0;
}
@keyframes aniScale02 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes colorPulse {
  from {
    filter: none;
  }
  50% {
    filter: drop-shadow(0px 0px 16px rgba(var(--f7-theme-color-rgb), 0.4)) drop-shadow(0px 0px 8px rgba(var(--f7-theme-color-rgb), 0.4)) drop-shadow(0px 0px 3px rgba(var(--f7-theme-color-rgb), 0.4));
  }
  to {
    filter: none;
  }
}
.page[data-name='water'] {
  background-color: var(--waterPageBg);
  box-shadow: inset -1px 182px 94px -135px #00e4ff1c;
}
.page[data-name='water'] .page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .page[data-name='water'] .page-content {
    justify-content: flex-start;
  }
}
.page[data-name='water'] .info {
  overflow: scroll;
  position: relative;
  z-index: 2;
}
@media (min-width: 900px) {
  .page[data-name='water'] .info {
    overflow: initial;
  }
}
.page[data-name='water'] .info .txt {
  padding: 0rem 1rem;
  font-size: 12pt;
  opacity: 0.7;
  line-height: 140%;
}
@media (min-width: 900px) {
  .page[data-name='water'] .info .txt {
    padding: 0rem 2rem;
    font-size: 14pt;
    opacity: 0.7;
    line-height: 140%;
  }
}
.page[data-name='water'] .info .txt > * {
  font-size: inherit;
  line-height: inherit;
}
.page[data-name='water'] .info .header {
  padding: 1.5rem 2rem;
}
.page[data-name='water'] .control {
  display: flex;
  height: 65vh;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: 0px -11px 20px var(--waterPageControlBSh);
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
  z-index: 3;
  background-color: var(--waterPageBg);
  padding-top: 1rem;
  box-sizing: content-box;
}
body.theme-dark .page[data-name='water'] .control {
  border-top: 1px #ffffff17 solid;
}
@media (min-width: 900px) {
  .page[data-name='water'] .control {
    box-shadow: none;
    border-top: none !important;
  }
}
.page[data-name='water'] .control .gr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-bottom: 1rem;
  grid-gap: 2rem;
  align-items: center;
}
.page[data-name='water'] .control .gr .gr1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.page[data-name='water'] .control .gr .gr1 .cupIn {
  height: 5rem;
  width: 3rem;
  padding: 2.4rem;
  margin: 0rem 1rem;
  clip-path: polygon(100% 50%, 100% 52.9%, 100% 54.8%, 100% 56.3%, 99.9% 57.8%, 99.9% 59.1%, 99.8% 60.3%, 99.7% 61.5%, 99.7% 62.6%, 99.6% 63.6%, 99.5% 64.7%, 99.4% 65.7%, 99.2% 66.7%, 99.1% 67.6%, 99% 68.5%, 98.8% 69.4%, 98.6% 70.3%, 98.5% 71.1%, 98.3% 72%, 98.1% 72.8%, 97.9% 73.6%, 97.7% 74.4%, 97.4% 75.1%, 97.2% 75.9%, 96.9% 76.6%, 96.7% 77.4%, 96.4% 78.1%, 96.1% 78.8%, 95.8% 79.5%, 95.5% 80.1%, 95.2% 80.8%, 94.9% 81.4%, 94.6% 82.1%, 94.2% 82.7%, 93.9% 83.3%, 93.5% 83.9%, 93.1% 84.5%, 92.7% 85%, 92.3% 85.6%, 91.9% 86.2%, 91.5% 86.7%, 91.1% 87.2%, 90.6% 87.7%, 90.2% 88.2%, 89.7% 88.7%, 89.2% 89.2%, 88.7% 89.7%, 88.2% 90.2%, 87.7% 90.6%, 87.2% 91.1%, 86.7% 91.5%, 86.2% 91.9%, 85.6% 92.3%, 85% 92.7%, 84.5% 93.1%, 83.9% 93.5%, 83.3% 93.9%, 82.7% 94.2%, 82.1% 94.6%, 81.4% 94.9%, 80.8% 95.2%, 80.1% 95.5%, 79.5% 95.8%, 78.8% 96.1%, 78.1% 96.4%, 77.4% 96.7%, 76.6% 96.9%, 75.9% 97.2%, 75.1% 97.4%, 74.4% 97.7%, 73.6% 97.9%, 72.8% 98.1%, 72% 98.3%, 71.1% 98.5%, 70.3% 98.6%, 69.4% 98.8%, 68.5% 99%, 67.6% 99.1%, 66.7% 99.2%, 65.7% 99.4%, 64.7% 99.5%, 63.6% 99.6%, 62.6% 99.7%, 61.5% 99.7%, 60.3% 99.8%, 59.1% 99.9%, 57.8% 99.9%, 56.3% 100%, 54.8% 100%, 52.9% 100%, 50% 100%, 47.1% 100%, 45.2% 100%, 43.7% 100%, 42.2% 99.9%, 40.9% 99.9%, 39.7% 99.8%, 38.5% 99.7%, 37.4% 99.7%, 36.4% 99.6%, 35.3% 99.5%, 34.3% 99.4%, 33.3% 99.2%, 32.4% 99.1%, 31.5% 99%, 30.6% 98.8%, 29.7% 98.6%, 28.9% 98.5%, 28% 98.3%, 27.2% 98.1%, 26.4% 97.9%, 25.6% 97.7%, 24.9% 97.4%, 24.1% 97.2%, 23.4% 96.9%, 22.6% 96.7%, 21.9% 96.4%, 21.2% 96.1%, 20.5% 95.8%, 19.9% 95.5%, 19.2% 95.2%, 18.6% 94.9%, 17.9% 94.6%, 17.3% 94.2%, 16.7% 93.9%, 16.1% 93.5%, 15.5% 93.1%, 15% 92.7%, 14.4% 92.3%, 13.8% 91.9%, 13.3% 91.5%, 12.8% 91.1%, 12.3% 90.6%, 11.8% 90.2%, 11.3% 89.7%, 10.8% 89.2%, 10.3% 88.7%, 9.8% 88.2%, 9.4% 87.7%, 8.9% 87.2%, 8.5% 86.7%, 8.1% 86.2%, 7.7% 85.6%, 7.3% 85%, 6.9% 84.5%, 6.5% 83.9%, 6.1% 83.3%, 5.8% 82.7%, 5.4% 82.1%, 5.1% 81.4%, 4.8% 80.8%, 4.5% 80.1%, 4.2% 79.5%, 3.9% 78.8%, 3.6% 78.1%, 3.3% 77.4%, 3.1% 76.6%, 2.8% 75.9%, 2.6% 75.1%, 2.3% 74.4%, 2.1% 73.6%, 1.9% 72.8%, 1.7% 72%, 1.5% 71.1%, 1.4% 70.3%, 1.2% 69.4%, 1% 68.5%, 0.9% 67.6%, 0.8% 66.7%, 0.6% 65.7%, 0.5% 64.7%, 0.4% 63.6%, 0.3% 62.6%, 0.3% 61.5%, 0.2% 60.3%, 0.1% 59.1%, 0.1% 57.8%, 0% 56.3%, 0% 54.8%, 0% 52.9%, 0% 50%, 0% 47.1%, 0% 45.2%, 0% 43.7%, 0.1% 42.2%, 0.1% 40.9%, 0.2% 39.7%, 0.3% 38.5%, 0.3% 37.4%, 0.4% 36.4%, 0.5% 35.3%, 0.6% 34.3%, 0.8% 33.3%, 0.9% 32.4%, 1% 31.5%, 1.2% 30.6%, 1.4% 29.7%, 1.5% 28.9%, 1.7% 28%, 1.9% 27.2%, 2.1% 26.4%, 2.3% 25.6%, 2.6% 24.9%, 2.8% 24.1%, 3.1% 23.4%, 3.3% 22.6%, 3.6% 21.9%, 3.9% 21.2%, 4.2% 20.5%, 4.5% 19.9%, 4.8% 19.2%, 5.1% 18.6%, 5.4% 17.9%, 5.8% 17.3%, 6.1% 16.7%, 6.5% 16.1%, 6.9% 15.5%, 7.3% 15%, 7.7% 14.4%, 8.1% 13.8%, 8.5% 13.3%, 8.9% 12.8%, 9.4% 12.3%, 9.8% 11.8%, 10.3% 11.3%, 10.8% 10.8%, 11.3% 10.3%, 11.8% 9.8%, 12.3% 9.4%, 12.8% 8.9%, 13.3% 8.5%, 13.8% 8.1%, 14.4% 7.7%, 15% 7.3%, 15.5% 6.9%, 16.1% 6.5%, 16.7% 6.1%, 17.3% 5.8%, 17.9% 5.4%, 18.6% 5.1%, 19.2% 4.8%, 19.9% 4.5%, 20.5% 4.2%, 21.2% 3.9%, 21.9% 3.6%, 22.6% 3.3%, 23.4% 3.1%, 24.1% 2.8%, 24.9% 2.6%, 25.6% 2.3%, 26.4% 2.1%, 27.2% 1.9%, 28% 1.7%, 28.9% 1.5%, 29.7% 1.4%, 30.6% 1.2%, 31.5% 1%, 32.4% 0.9%, 33.3% 0.8%, 34.3% 0.6%, 35.3% 0.5%, 36.4% 0.4%, 37.4% 0.3%, 38.5% 0.3%, 39.7% 0.2%, 40.9% 0.1%, 42.2% 0.1%, 43.7% 0%, 45.2% 0%, 47.1% 0%, 50% 0%, 52.9% 0%, 54.8% 0%, 56.3% 0%, 57.8% 0.1%, 59.1% 0.1%, 60.3% 0.2%, 61.5% 0.3%, 62.6% 0.3%, 63.6% 0.4%, 64.7% 0.5%, 65.7% 0.6%, 66.7% 0.8%, 67.6% 0.9%, 68.5% 1%, 69.4% 1.2%, 70.3% 1.4%, 71.1% 1.5%, 72% 1.7%, 72.8% 1.9%, 73.6% 2.1%, 74.4% 2.3%, 75.1% 2.6%, 75.9% 2.8%, 76.6% 3.1%, 77.4% 3.3%, 78.1% 3.6%, 78.8% 3.9%, 79.5% 4.2%, 80.1% 4.5%, 80.8% 4.8%, 81.4% 5.1%, 82.1% 5.4%, 82.7% 5.8%, 83.3% 6.1%, 83.9% 6.5%, 84.5% 6.9%, 85% 7.3%, 85.6% 7.7%, 86.2% 8.1%, 86.7% 8.5%, 87.2% 8.9%, 87.7% 9.4%, 88.2% 9.8%, 88.7% 10.3%, 89.2% 10.8%, 89.7% 11.3%, 90.2% 11.8%, 90.6% 12.3%, 91.1% 12.8%, 91.5% 13.3%, 91.9% 13.8%, 92.3% 14.4%, 92.7% 15%, 93.1% 15.5%, 93.5% 16.1%, 93.9% 16.7%, 94.2% 17.3%, 94.6% 17.9%, 94.9% 18.6%, 95.2% 19.2%, 95.5% 19.9%, 95.8% 20.5%, 96.1% 21.2%, 96.4% 21.9%, 96.7% 22.6%, 96.9% 23.4%, 97.2% 24.1%, 97.4% 24.9%, 97.7% 25.6%, 97.9% 26.4%, 98.1% 27.2%, 98.3% 28%, 98.5% 28.9%, 98.6% 29.7%, 98.8% 30.6%, 99% 31.5%, 99.1% 32.4%, 99.2% 33.3%, 99.4% 34.3%, 99.5% 35.3%, 99.6% 36.4%, 99.7% 37.4%, 99.7% 38.5%, 99.8% 39.7%, 99.9% 40.9%, 99.9% 42.2%, 100% 43.7%, 100% 45.2%, 100% 47.1%, 100% 0);
}
.page[data-name='water'] .control .gr .gr1 .la {
  margin-left: 2rem;
}
.page[data-name='water'] .control .la {
  margin: 1rem 0rem;
  opacity: 0.5;
}
@media (min-width: 900px) {
  .page[data-name='water'] .control .waterBox {
    width: 21vw;
    height: 21vw;
  }
  .page[data-name='water'] .control .waterBox .waterMl {
    font-size: 2.5vw;
  }
}
.page[data-name='water'] .control .range-slider {
  width: 90%;
}
@media (min-width: 900px) {
  .page[data-name='water'] .control .range-slider {
    width: 60vw;
  }
}
.page[data-name='water'] .control .confirmSlide {
  position: relative;
  background-color: var(--waterPageBg);
  padding: 0.6rem 2rem;
  border-radius: 10rem;
  margin-top: 2rem;
  opacity: 0;
  box-shadow: 15px 11px 20px -5px white, -6px -5px 20px -5px #00000017;
  transition: 0.2s ease;
}
@media (min-width: 900px) {
  .page[data-name='water'] .control .confirmSlide {
    padding: 1rem 3rem;
    font-size: 13pt;
    cursor: pointer;
  }
}
@media (hover: hover) and (pointer: fine) {
  .page[data-name='water'] .control .confirmSlide:hover {
    font-style: inherit ;box-shadow: 15px 11px 20px -5px rgb(255 255 255), -6px -5px 20px -5px #00000030;;
  }
}
.page[data-name='water'] .control .confirmSlide.active-state {
  font-style: inherit ;box-shadow: 15px 11px 20px -5px rgb(255 255 255), -6px -5px 20px -5px #00000030;;
}
body.theme-dark .page[data-name='water'] .control .confirmSlide {
  box-shadow: 15px 11px 20px -5px #ffffff0f, -6px -5px 20px -5px #000000;
}
@media (hover: hover) and (pointer: fine) {
  body.theme-dark .page[data-name='water'] .control .confirmSlide:hover {
    font-style: inherit ;box-shadow: 15px 11px 20px -5px #ffffff4f, -6px -5px 20px -5px #000000;;
  }
}
body.theme-dark .page[data-name='water'] .control .confirmSlide.active-state {
  font-style: inherit ;box-shadow: 15px 11px 20px -5px #ffffff4f, -6px -5px 20px -5px #000000;;
}
.waterBox {
  width: 10rem;
  height: 10rem;
  border-radius: 1000rem;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 5px var(--waterPageBg) solid;
  box-shadow: 8px 9px 20px white, -6px -2px 20px #00000063, inset 8px 9px 20px white, inset -6px -2px 20px #0000001f;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.theme-dark .waterBox {
  box-shadow: 8px 9px 20px #ffffff12, -6px -2px 20px #000000, inset 8px 9px 20px #ffffff14, inset -6px -2px 20px #000000;
}
.waterBox .waterMl {
  font-size: 15pt;
  font-weight: 700;
  opacity: 0.7;
  position: relative;
  z-index: 1;
}
.waterBox .water {
  position: absolute;
  /* top: 0; */
  opacity: 0.6;
  bottom: 0%;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  transition: 0.9s ease-out;
}
.waterBox .water svg {
  box-shadow: -1px 20px 0 200px #688aaf;
}
.cups {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.cups .cup {
  filter: drop-shadow(0px 2px 7px #0000001a);
  transition: 0.3s;
}
.cups .cup .cupIn {
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--cupBg);
  padding: 1.4rem;
  /* border: 1px #00000014 solid; */
  transition: 0.2s cubic-bezier(0.25, 0.1, 0.23, 1.76);
  transform: scale(1) translateX(0);
  cursor: pointer;
  clip-path: polygon(100% 50%, 100% 52.9%, 100% 54.8%, 100% 56.3%, 99.9% 57.8%, 99.9% 59.1%, 99.8% 60.3%, 99.7% 61.5%, 99.7% 62.6%, 99.6% 63.6%, 99.5% 64.7%, 99.4% 65.7%, 99.2% 66.7%, 99.1% 67.6%, 99% 68.5%, 98.8% 69.4%, 98.6% 70.3%, 98.5% 71.1%, 98.3% 72%, 98.1% 72.8%, 97.9% 73.6%, 97.7% 74.4%, 97.4% 75.1%, 97.2% 75.9%, 96.9% 76.6%, 96.7% 77.4%, 96.4% 78.1%, 96.1% 78.8%, 95.8% 79.5%, 95.5% 80.1%, 95.2% 80.8%, 94.9% 81.4%, 94.6% 82.1%, 94.2% 82.7%, 93.9% 83.3%, 93.5% 83.9%, 93.1% 84.5%, 92.7% 85%, 92.3% 85.6%, 91.9% 86.2%, 91.5% 86.7%, 91.1% 87.2%, 90.6% 87.7%, 90.2% 88.2%, 89.7% 88.7%, 89.2% 89.2%, 88.7% 89.7%, 88.2% 90.2%, 87.7% 90.6%, 87.2% 91.1%, 86.7% 91.5%, 86.2% 91.9%, 85.6% 92.3%, 85% 92.7%, 84.5% 93.1%, 83.9% 93.5%, 83.3% 93.9%, 82.7% 94.2%, 82.1% 94.6%, 81.4% 94.9%, 80.8% 95.2%, 80.1% 95.5%, 79.5% 95.8%, 78.8% 96.1%, 78.1% 96.4%, 77.4% 96.7%, 76.6% 96.9%, 75.9% 97.2%, 75.1% 97.4%, 74.4% 97.7%, 73.6% 97.9%, 72.8% 98.1%, 72% 98.3%, 71.1% 98.5%, 70.3% 98.6%, 69.4% 98.8%, 68.5% 99%, 67.6% 99.1%, 66.7% 99.2%, 65.7% 99.4%, 64.7% 99.5%, 63.6% 99.6%, 62.6% 99.7%, 61.5% 99.7%, 60.3% 99.8%, 59.1% 99.9%, 57.8% 99.9%, 56.3% 100%, 54.8% 100%, 52.9% 100%, 50% 100%, 47.1% 100%, 45.2% 100%, 43.7% 100%, 42.2% 99.9%, 40.9% 99.9%, 39.7% 99.8%, 38.5% 99.7%, 37.4% 99.7%, 36.4% 99.6%, 35.3% 99.5%, 34.3% 99.4%, 33.3% 99.2%, 32.4% 99.1%, 31.5% 99%, 30.6% 98.8%, 29.7% 98.6%, 28.9% 98.5%, 28% 98.3%, 27.2% 98.1%, 26.4% 97.9%, 25.6% 97.7%, 24.9% 97.4%, 24.1% 97.2%, 23.4% 96.9%, 22.6% 96.7%, 21.9% 96.4%, 21.2% 96.1%, 20.5% 95.8%, 19.9% 95.5%, 19.2% 95.2%, 18.6% 94.9%, 17.9% 94.6%, 17.3% 94.2%, 16.7% 93.9%, 16.1% 93.5%, 15.5% 93.1%, 15% 92.7%, 14.4% 92.3%, 13.8% 91.9%, 13.3% 91.5%, 12.8% 91.1%, 12.3% 90.6%, 11.8% 90.2%, 11.3% 89.7%, 10.8% 89.2%, 10.3% 88.7%, 9.8% 88.2%, 9.4% 87.7%, 8.9% 87.2%, 8.5% 86.7%, 8.1% 86.2%, 7.7% 85.6%, 7.3% 85%, 6.9% 84.5%, 6.5% 83.9%, 6.1% 83.3%, 5.8% 82.7%, 5.4% 82.1%, 5.1% 81.4%, 4.8% 80.8%, 4.5% 80.1%, 4.2% 79.5%, 3.9% 78.8%, 3.6% 78.1%, 3.3% 77.4%, 3.1% 76.6%, 2.8% 75.9%, 2.6% 75.1%, 2.3% 74.4%, 2.1% 73.6%, 1.9% 72.8%, 1.7% 72%, 1.5% 71.1%, 1.4% 70.3%, 1.2% 69.4%, 1% 68.5%, 0.9% 67.6%, 0.8% 66.7%, 0.6% 65.7%, 0.5% 64.7%, 0.4% 63.6%, 0.3% 62.6%, 0.3% 61.5%, 0.2% 60.3%, 0.1% 59.1%, 0.1% 57.8%, 0% 56.3%, 0% 54.8%, 0% 52.9%, 0% 50%, 0% 47.1%, 0% 45.2%, 0% 43.7%, 0.1% 42.2%, 0.1% 40.9%, 0.2% 39.7%, 0.3% 38.5%, 0.3% 37.4%, 0.4% 36.4%, 0.5% 35.3%, 0.6% 34.3%, 0.8% 33.3%, 0.9% 32.4%, 1% 31.5%, 1.2% 30.6%, 1.4% 29.7%, 1.5% 28.9%, 1.7% 28%, 1.9% 27.2%, 2.1% 26.4%, 2.3% 25.6%, 2.6% 24.9%, 2.8% 24.1%, 3.1% 23.4%, 3.3% 22.6%, 3.6% 21.9%, 3.9% 21.2%, 4.2% 20.5%, 4.5% 19.9%, 4.8% 19.2%, 5.1% 18.6%, 5.4% 17.9%, 5.8% 17.3%, 6.1% 16.7%, 6.5% 16.1%, 6.9% 15.5%, 7.3% 15%, 7.7% 14.4%, 8.1% 13.8%, 8.5% 13.3%, 8.9% 12.8%, 9.4% 12.3%, 9.8% 11.8%, 10.3% 11.3%, 10.8% 10.8%, 11.3% 10.3%, 11.8% 9.8%, 12.3% 9.4%, 12.8% 8.9%, 13.3% 8.5%, 13.8% 8.1%, 14.4% 7.7%, 15% 7.3%, 15.5% 6.9%, 16.1% 6.5%, 16.7% 6.1%, 17.3% 5.8%, 17.9% 5.4%, 18.6% 5.1%, 19.2% 4.8%, 19.9% 4.5%, 20.5% 4.2%, 21.2% 3.9%, 21.9% 3.6%, 22.6% 3.3%, 23.4% 3.1%, 24.1% 2.8%, 24.9% 2.6%, 25.6% 2.3%, 26.4% 2.1%, 27.2% 1.9%, 28% 1.7%, 28.9% 1.5%, 29.7% 1.4%, 30.6% 1.2%, 31.5% 1%, 32.4% 0.9%, 33.3% 0.8%, 34.3% 0.6%, 35.3% 0.5%, 36.4% 0.4%, 37.4% 0.3%, 38.5% 0.3%, 39.7% 0.2%, 40.9% 0.1%, 42.2% 0.1%, 43.7% 0%, 45.2% 0%, 47.1% 0%, 50% 0%, 52.9% 0%, 54.8% 0%, 56.3% 0%, 57.8% 0.1%, 59.1% 0.1%, 60.3% 0.2%, 61.5% 0.3%, 62.6% 0.3%, 63.6% 0.4%, 64.7% 0.5%, 65.7% 0.6%, 66.7% 0.8%, 67.6% 0.9%, 68.5% 1%, 69.4% 1.2%, 70.3% 1.4%, 71.1% 1.5%, 72% 1.7%, 72.8% 1.9%, 73.6% 2.1%, 74.4% 2.3%, 75.1% 2.6%, 75.9% 2.8%, 76.6% 3.1%, 77.4% 3.3%, 78.1% 3.6%, 78.8% 3.9%, 79.5% 4.2%, 80.1% 4.5%, 80.8% 4.8%, 81.4% 5.1%, 82.1% 5.4%, 82.7% 5.8%, 83.3% 6.1%, 83.9% 6.5%, 84.5% 6.9%, 85% 7.3%, 85.6% 7.7%, 86.2% 8.1%, 86.7% 8.5%, 87.2% 8.9%, 87.7% 9.4%, 88.2% 9.8%, 88.7% 10.3%, 89.2% 10.8%, 89.7% 11.3%, 90.2% 11.8%, 90.6% 12.3%, 91.1% 12.8%, 91.5% 13.3%, 91.9% 13.8%, 92.3% 14.4%, 92.7% 15%, 93.1% 15.5%, 93.5% 16.1%, 93.9% 16.7%, 94.2% 17.3%, 94.6% 17.9%, 94.9% 18.6%, 95.2% 19.2%, 95.5% 19.9%, 95.8% 20.5%, 96.1% 21.2%, 96.4% 21.9%, 96.7% 22.6%, 96.9% 23.4%, 97.2% 24.1%, 97.4% 24.9%, 97.7% 25.6%, 97.9% 26.4%, 98.1% 27.2%, 98.3% 28%, 98.5% 28.9%, 98.6% 29.7%, 98.8% 30.6%, 99% 31.5%, 99.1% 32.4%, 99.2% 33.3%, 99.4% 34.3%, 99.5% 35.3%, 99.6% 36.4%, 99.7% 37.4%, 99.7% 38.5%, 99.8% 39.7%, 99.9% 40.9%, 99.9% 42.2%, 100% 43.7%, 100% 45.2%, 100% 47.1%, 100% 0);
}
@media (min-width: 900px) {
  .cups .cup .cupIn:hover {
    transform: scale(1.05) translateX(0);
  }
}
.cups .cup .cupIn.active-state {
  transform: scale(0.9) translateX(0);
}
.cups .cup .cupIn::after {
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cups .cup img {
  height: inherit;
}
.cups .cup .label {
  font-size: 10pt;
  margin-bottom: -1rem;
  margin-top: 0.1rem;
  opacity: 0.6;
}
.cups .cup .teach {
  position: absolute;
  transition: 0.3s ease;
  transform: scale(1);
}
.page[data-name='settings'] {
  background-color: var(--settingsBg);
}
.page[data-name='settings'] .page-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page[data-name='settings'] .page-content::before {
  content: '';
  box-shadow: 1px 2px 89px 20px #ea00ff2d;
  width: 100%;
  position: absolute;
  z-index: -8;
  top: 0px;
  left: 0px;
  height: 0rem;
}
.page[data-name='settings'] .profile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.page[data-name='settings'] .profile .ava {
  height: 5rem;
  width: 5rem;
  filter: brightness(1);
}
.page[data-name='settings'] .profile .avaEdit {
  position: relative;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  overflow: hidden;
  transition: 0.3s ease;
  color: white;
}
.page[data-name='settings'] .profile .avaEdit i {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease;
}
.page[data-name='settings'] .profile .avaEdit::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .page[data-name='settings'] .profile .avaEdit:hover i {
    opacity: 1;
  }
}
.page[data-name='settings'] .profile .avaEdit.active-state i {
  opacity: 1;
}
@media (hover: hover) and (pointer: fine) {
  .page[data-name='settings'] .profile .avaEdit:hover .ava {
    filter: brightness(0.6);
  }
}
.page[data-name='settings'] .profile .avaEdit.active-state .ava {
  filter: brightness(0.6);
}
.page[data-name='settings'] .profile .name {
  font-size: 14pt;
  font-weight: 500;
  text-decoration: underline dotted;
  text-decoration-color: #797979;
  cursor: pointer;
  display: block;
  margin: 0.6rem auto;
}
.page[data-name='settings'] .title {
  font-size: 13pt;
  font-weight: 500;
  color: var(--headerC);
  padding-top: 0px !important;
}
.page[data-name='settings'] button {
  margin: 1rem auto;
  width: 80%;
  padding: 0.9rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 900px) {
  .page[data-name='settings'] button {
    width: 40%;
  }
}
.page[data-name='settings'] ul {
  display: grid;
}
.page[data-name='settings'] .accordion-item-content p {
  font-size: 15pt;
  line-height: 140%;
}
.page[data-name='settings'] .list .f7-icons.water {
  color: #95affe;
}
body.theme-dark .page[data-name='settings'] .list .f7-icons.water {
  color: #7d96e4;
}
.page[data-name='settings'] .list .f7-icons.mood {
  color: #ffcc60;
}
.page[data-name='settings'] .list .f7-icons.app {
  color: var(--f7-theme-color);
}
.page[data-name='mood'] .page-content {
  background-color: #fff6ea;
  box-shadow: inset 0 116px 105px -33px #ff8800;
}
body.theme-dark .page[data-name='mood'] .page-content {
  background-color: #0f0c09;
  box-shadow: inset 0 185px 247px -133px #372108;
}
#thumbAni {
  height: 60pt;
  margin-bottom: -14pt;
}
.picker {
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
}
.picker .toolbar-inner {
  padding: 0 1.5rem;
  border-radius: 2rem 2rem 0 0;
}
body.theme-dark .picker .toolbar-inner {
  border-top: 1px #fff8f818 solid;
}
.codcwss {
  display: block;
}
.popup {
  height: 90%;
  top: auto;
  bottom: 0px !important;
  border-radius: 2rem 2rem 0rem 0rem;
}
@media (min-width: 900px) {
  .popup {
    border-radius: 2rem !important;
  }
}
.popup .page {
  background-color: var(--mainBg);
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 1rem;
}
body.theme-dark .popup .page {
  border-top: 1px #fff8f818 solid;
}
@media (min-width: 900px) {
  .popup .page {
    border: 1px #fff8f818 solid !important;
    border-radius: 2rem 2rem 2rem 2rem;
  }
}
.popup {
  transition: filter 0.3s ease, transform 0.3s ease;
}
.popup-behind {
  filter: brightness(0.5);
}
body[data-blur='blur'] .popup-behind {
  filter: brightness(0.5) saturate(0.6) blur(2px);
}
.popup .handler {
  background-color: var(--mainBg);
  width: 100%;
  position: fixed;
  height: 2.5rem;
  z-index: 5;
  top: 0;
  /* filter: blur(6.4px); */
  filter: drop-shadow(0px 0px 19px var(--mainBg)) drop-shadow(0px 0px 7px var(--mainBg));
  left: 0;
}
@media (min-width: 900px) {
  .popup .handler {
    display: none;
  }
}
.popup .handler::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup .handler::after {
  content: '';
  background: rgba(135, 135, 135, 0.56863);
  height: 0.5rem;
  border-radius: 90rem;
  width: 20%;
  margin: auto;
  margin-top: 1rem;
  position: fixed;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}
.popup h1 {
  margin-top: 2rem;
}
#avaChangePopup .sec {
  margin-top: 2rem;
}
#avaChangePopup .sec .tit {
  margin: 0;
  display: inline-flex;
}
#avaChangePopup .sec .tit i {
  color: #7a7a7a80;
  margin-right: 0rem;
}
#avaChangePopup .sec.lock_open_ i {
  margin-right: 0.4rem;
}
#avaChangePopup .sec.lock_open_ .ava {
  filter: brightness(1) !important;
}
#avaChangePopup .sec .avas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#avaChangePopup .sec .avas .ava {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  filter: brightness(0.6);
  margin: 0.9rem;
  border-radius: 90rem;
  overflow: hidden;
  box-sizing: border-box;
  background: #d92dff;
  background: linear-gradient(24deg, #d92dff 0%, #35ffc3 100%);
  position: relative;
  transition: 0.3s;
}
#avaChangePopup .sec .avas .ava::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
#avaChangePopup .sec .avas .ava img {
  width: 94%;
  height: 94%;
  border-radius: 99rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#avaChangePopup .prew {
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  position: fixed;
  left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
@media (min-width: 900px) {
  #avaChangePopup .prew {
    transform: translate(-50%, -50%) scale(0);
  }
}
#avaChangePopup .prew span {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 18pt;
  font-weight: 500;
}
#avaChangePopup .prew img {
  height: 8rem;
  width: 8rem;
  border-radius: 99rem;
}
#avaChangePopup .prew .bt {
  display: flex;
  margin-top: 3rem;
  font-size: 22pt;
}
#avaChangePopup .prew .bt .yes {
  margin-right: 3rem;
  box-shadow: 0px 0px 0 -3px #00d8ff7a;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}
#avaChangePopup .prew .bt .yes::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#avaChangePopup .prew .bt .yes:hover {
  box-shadow: 0px 6px 0 -3px #00d8ff7a;
}
#avaChangePopup .prew .bt .no {
  box-shadow: 0px 0px 0 -3px #ff1e007a;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}
#avaChangePopup .prew .bt .no::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#avaChangePopup .prew .bt .no:hover {
  box-shadow: 0px 6px 0 -3px #ff1e007a;
}
#avaChangePopup .prewBg {
  width: 900vw;
  height: 900vw;
  position: fixed;
  bottom: -75vh;
  left: -310vw;
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  backdrop-filter: saturate(0.4) brightness(0.7);
  z-index: 2;
  box-shadow: inset 1px 1px 0 200000px #ffffff7c;
}
body.theme-dark #avaChangePopup .prewBg {
  box-shadow: inset 1px 1px 0 200000px #00000070;
}
body[data-blur='blur'] #avaChangePopup .prewBg {
  backdrop-filter: saturate(0.7) blur(3px);
}
