.page.ws .header {
  padding-bottom: 0;
}
.page.ws .list.c {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  margin-bottom: 0;
}
.page.ws .list.c .cardd {
  align-self: center;
  width: 110%;
}
@media (min-width: 900px) {
  .page.ws .list.c .cardd {
    width: initial;
  }
}
.page.ws .list.c .cardd .emoji {
  margin: 0rem 0.2rem;
}
.page.ws .slide {
  position: relative;
  z-index: -1;
  transform: translateY(0%) scale(0);
  transition: 0.5s cubic-bezier(0.25, 0.1, 0.27, 1.69);
  opacity: 0;
  display: inline-block;
}
.page.ws .slide input {
  width: 4rem;
  border-radius: 1rem;
  padding: 0.1rem 0.6rem;
  text-align: center;
  font-size: 2rem;
  height: 3.2rem;
  border: 1px #00000026 solid;
  box-shadow: none;
  background-color: #f5f5f5;
  transition: 0.25s cubic-bezier(0.25, 0.1, 0.27, 1.53);
}
body.theme-dark .page.ws .slide input {
  background-color: #434345ab;
  border: 1px #bcbcbc26 solid;
}
.page.ws .slide input:focus {
  box-shadow: 0px 8px 10px #00000014;
}
body.theme-dark .page.ws .slide input:focus {
  background-color: #434345d6;
  border: 1px #bcbcbc42 solid;
}
.page.ws .slide input::placeholder {
  opacity: 0.3;
}
.page.ws .slide .actions {
  align-self: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
  width: 93%;
}
.page.ws .slide .actions .confirm {
  margin-left: -0.8rem;
  background-color: #f5f5f5;
  padding: 0.5rem 0.7rem;
  border-radius: 0rem 1rem 1rem 0rem;
  font-size: 18pt;
  border: 1px #00000026 solid;
  border-left: 0;
  cursor: pointer;
  font-weight: 500;
  color: #465f48;
  letter-spacing: -0.7px;
  box-shadow: -10px 0px 9px -7px #00000024;
  opacity: 0;
  display: none;
  transition: 0.25s cubic-bezier(0.25, 0.1, 0.27, 1.53);
}
body.theme-dark .page.ws .slide .actions .confirm {
  background-color: #434345;
  color: #82a185;
}
.page.ws .slide .examples .smiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.page.ws .slide .examples .smiles span {
  font-size: 23pt;
  padding: 0.3rem;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.25, 0.1, 0.27, 1.53);
  filter: drop-shadow(0px 0px 0px #00000054);
}
@media (hover: hover) and (pointer: fine) {
  .page.ws .slide .examples .smiles span:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 6px #00000054);
  }
}
.page.ws .slide .examples .smiles span.active-state {
  transform: scale(0.95);
  filter: drop-shadow(0px 0px 0px #00000054);
}
