@bp-tablet: ~"min-width: 900px";
.page[data-name="navigator"]{
    .page-content{
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        --backdrop:#ffe2d2;
        @media (@bp-tablet) {
            flex-direction: row;
          }
        body.theme-dark & {
            --backdrop:#784930;
          }
    
        .info{
            overflow: scroll;
            position: relative;
            z-index: 2;
            height: inherit;
            @media (@bp-tablet) {
                width: 100%;
              }

            &::after{
                content: ""
            }

            #chartDiv{
                #brandingLogo{
                    display: none;
                }
            }

        }
        .sh{
            width: 100%;
            box-shadow: 0 0 20px 20px  #fff4e7;
            position: relative;
            z-index: 2;
            @media (@bp-tablet) {
                display:none
              }
            body.theme-dark & {
                box-shadow: 0 0 20px 20px #0f0c09;
              }
        }
        .control{
            background-color: var(--backdrop);
            position: relative;
            z-index: 3;
            @media (@bp-tablet) {
                z-index: 3;
                height: fit-content;
                position: relative;
                bottom: 0;
                right: 0;
                margin: 0rem;
                align-self: flex-end;
              }

              
            
        }

    }
}